<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box" id="pond-box">
				<div class="box-header with-border">
					<h3 class="box-title" th:text="#{farm.plot_activity_add}"></h3>
					<div class="box-tools">
						<a th:href="@{${backUrl}}" class="btn btn-sm btn-flat btn-warning"><i class="fa fa-backward"></i> <span
								th:text="#{default.back}"></span></a>
					</div>
				</div>
				<form class="mainForm" th:action="@{${submitUrl}}" th:object="${activityDto}"
							id="plotEditorForm" method="post">
					<input type="hidden" id="plotId" th:field="*{plot}"/>
					<input type="hidden" id="activityId" th:field="*{id}"/>
					<div class="box-body">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group ">
									<label th:text="|#{farm.plot_activity_type}#|">default.farm*</label>
									<select class="form-control" th:field="*{activityType}" required="required"
													onchange="activityTypeChanged()">
										<option value="" th:text="|-- #{farm.plot_activity_select_type} --|">-- default.select_farm --
										</option>
										<option th:each="actType:${allActivityTypes}" th:value="${actType.id}"
														th:text="${actType.localisedName}"></option>
									</select>
								</div>
								<div class="form-group ">
									<label for="number" class="control-label"
												 th:text="|#{farm.plot_activity_start}*|">farm.plot_number*</label>
									<input id="datetime-starttime" type="text" class="form-control form-plot form-plot-required datefield"
												 th:field="*{activityStartDate}" th:placeholder="#{farm.plot_activity_start}" maxlength="10"
												 required="required"/>
								</div>
								<div class="form-group ">
									<label for="number" class="control-label"
												 th:text="|#{farm.plot_activity_end}*|">farm.plot_number*</label>
									<input id="datetime-endtime" type="text" class="form-control form-plot form-plot-required datefield"
												 th:field="*{activityEndDate}" th:placeholder="#{farm.plot_activity_end}" maxlength="10"
												 required="required"/>
								</div>
								<div class="form-group" id="actiProductGroup">
									<label th:text="|#{farm.plot_activity_product}|"></label>
									<select id="selectProductGroup" class="form-control" th:field="*{product}"
													onchange="productChanged()">
										<option value="" th:text="|-- #{farm.plot_activity_select_product} --|">-- default.select_farm --
										</option>
										<option th:each="actType:${allProducts}" th:value="${actType.id}"
														th:text="${actType.localisedName}"></option>
									</select>
								</div>
								<div class="form-group " id="tilingActiGroup">
									<label th:text="|#{farm.plot_activity_tilingActivityType}|"></label>
									<select class="form-control" th:field="*{tilingActivityType}">
										<option value="" th:text="|-- #{farm.plot_activity_select_tilingActivityType} --|">--
											default.select_farm --
										</option>
										<option th:each="actType:${allTilingActivityTypes}" th:value="${actType.id}"
														th:text="${actType.localisedName}"></option>
									</select>
								</div>
								<div class="form-group">
									<label th:text="|#{farm.plot_activity_measure}|"></label>
									<input type="text" class="form-control form-pond form-pond-required" th:field="*{measure.quantity}"/>
									<select id="selectMeasureUnit" class="form-control" th:field="*{measure.unit}">
										<option value="" th:text="|-- #{default.select_unit} --|"></option>
										<option th:each="unit : ${allQuantityUnits}" th:value="${unit.id}"
														th:text="${unit.localisedName}"></option>
									</select>
								</div>


								<div class="form-group" id="selectCommodities">
									<label th:text="|#{farm.plot_activity_commodities}|"></label>
									<select class="form-control" th:field="*{commodities}">
										<option value="" th:text="|-- #{default.commodities} --|"></option>
										<option th:each="unit : ${allCommodities}" th:value="${unit.id}"
														th:text="${unit.localisedName}"></option>
									</select>
								</div>


								<div class="form-group ">
									<label th:text="|#{farm.plot_activity_comment}|"></label>
									<input class="form-control" type="text" th:field="*{comment}"/>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer text-center">
						<small>* <span th:text="#{default.mandatory_field}"></span></small>

						<a th:href="@{${backUrl}}" class="btn btn-warning"><i
								class="fa fa-times"></i><span th:text="#{default.cancel}"></span></a>
						<button type="submit" class="btn btn-success">
							<span th:text="#{default.submit}"></span> <i class="fa fa-check"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="page-scripts">
	<script th:inline="javascript">
      /*<![CDATA[*/

      var farmId =/*[[${farmId}]]*/;
      var plotId =/*[[${plotId}]]*/;


      $(document).ready(function () {
          $.datetimepicker.setLocale(lang);
          $('#datetime-starttime').datetimepicker({
              onChangeDateTime: function (e) {
                  $('#datetime-endtime').val($('#datetime-starttime').val())
              },
              format: 'Y-m-d h:i:s',
              closeOnDateSelect: true

          });

          $('#datetime-endtime').datetimepicker({
              format: 'Y-m-d h:i:s',
              closeOnDateSelect: true

          });
          activityTypeChanged();
      });

      var noProductNorTilingActivity = [2, 3, 4, 5, 6, 12, 99];

      function activityTypeChanged() {

          $('#actiProductGroup').show();
          $('#tilingActiGroup').show();
          $('#selectCommodities').hide();


          var actVal = $("#activityType").val();

          if (actVal != null  && !!actVal.trim()) {
              actVal = parseInt(actVal);
              if ($.inArray(actVal, noProductNorTilingActivity) >= 0) {
                  $('#actiProductGroup').hide();
                  $('#tilingActiGroup').hide();
              } else if (actVal == 1) {
                  $('#selectCommodities').show();
              } else if (actVal != 11) {
                  $('#tilingActiGroup').hide();
              }

              $.get('/plots/' + plotId + '/activities/' + actVal + '/unit', function (data) {
                  $("#selectMeasureUnit").val(data).change();
              }).fail(function () {
                  $("#selectMeasureUnit").val("").change();
              });


              $.get('/plots/' + plotId + '/products', {
                  activityId: actVal
              }, function (datas) {
                  var pond_activity_select_product = /*[[#{farm.pond_activity_select_product}]]*/ 'Select Product';
                  $("#selectMeasureUnit").val("").change();
                  $('#selectProductGroup')
                      .find('option')
                      .remove()
                      .end()
                      .append('<option value="">-- ' + pond_activity_select_product + ' --</option>')
                      .val('');


                  $.each(datas, function (index, value) {
                      $('#selectProductGroup').append($('<option>', {
                          value: value.id,
                          text: value.name
                      }));
                  });
              });

          }

      }


      function productChanged() {
          var productId = $("#selectProductGroup").val();

          $.get('/plots/' + plotId + '/products/' + productId + '/unit', function (data) {
              $("#selectMeasureUnit").val(data).change();
          }).fail(function () {
              $("#selectMeasureUnit").val("").change();
          });
      }


      function hasEmptyFields(selector) {
          var hasError = false;
          $(selector).each(function (index, element) {
              if ($(element).val() == '') {
                  hasError = true;
                  $(element).closest('.form-group').addClass('has-error');
              } else
                  $(element).closest('.form-group').removeClass('has-error');
          });
          return hasError;
      }

      /*]]>*/
	</script>
</th:block>
</html>