<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">

    <div th:if="${error!=null}" id="error-panel" class="alert alert-danger alert-dismissible">
        <button id="error-panel-close-button" type="button" class="close">&times;</button>
        <span id="error-panel-message" th:text="${error}"></span>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title pull-left" th:text="${table}">table</h3>
                    <div class="box-tools">
                        <a th:href="@{'/admin/codelists/browser.html'}"
                           class="btn btn-sm btn-flat btn-warning"><i
                                class="fa fa-backward"></i> <span th:text="#{default.back}"></span></a>
                        <a th:href="@{'/admin/codelists/browser/'+${table}+'/create.html'}"
                           class="btn btn-sm btn-flat btn-success">
                            <i class="fa fa-plus"></i> <span th:text="#{cl.add}">cl.add</span></a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-hover table-striped table-bordered datatable" id="userTable">
                        <thead>
                        <tr>
                            <th th:if="${column.id==true}" th:text="#{cl.column.id}" th:inline="text">id</th>
                            <th th:if="${column.enabled==true}" th:text="#{cl.column.enabled}" th:inline="text">
                                enabled
                            </th>
                            <th th:if="${column.code==true}" th:text="#{cl.column.code}" th:inline="text">code</th>
                            <th th:if="${column.ranking==true}" th:text="#{cl.column.ranking}" th:inline="text">
                                ranking
                            </th>
                            <th th:if="${column.name==true}" th:text="#{cl.column.name}" th:inline="text">name</th>
                            <th th:if="${column.description==true}" th:text="#{cl.column.description}" th:inline="text">
                                description
                            </th>
                            <th th:if="${column.i18nDefault==true}" th:text="#{cl.column.i18nDefault}" th:inline="text">
                                i18nDefault
                            </th>
                            <th th:if="${column.i18nEn==true}" th:text="#{cl.column.i18nEn}" th:inline="text">i18nEn
                            </th>
                            <th th:if="${column.i18nFr==true}" th:text="#{cl.column.i18nFr}" th:inline="text">i18nFr
                            </th>
                            <th th:if="${column.i18nEs==true}" th:text="#{cl.column.i18nEs}" th:inline="text">i18nEs
                            </th>
                            <th th:if="${column.i18nTh==true}" th:text="#{cl.column.i18nTh}" th:inline="text">i18nTh
                            </th>
                            <th th:if="${column.i18nVt==true}" th:text="#{cl.column.i18nVt}" th:inline="text">i18nVt
                            </th>
                            <th th:if="${column.i18nLa==true}" th:text="#{cl.column.i18nLa}" th:inline="text">i18nLa
                            </th>
                            <th th:if="${column.i18nId==true}" th:text="#{cl.column.i18nId}" th:inline="text">i18nId
                            </th>
                            <th th:if="${column.i18nKh==true}" th:text="#{cl.column.i18nKh}" th:inline="text">i18nKh
                            </th>
                            <th th:if="${column.company==true}" th:text="#{cl.column.company}" th:inline="text">
                                isCompany
                            </th>
                            <th th:if="${column.valueMeasure==true}" th:text="#{cl.column.valueMeasure}"
                                th:inline="text">valueMeasure
                            </th>
                            <th th:if="${column.valueText==true}" th:text="#{cl.column.valueText}" th:inline="text">
                                valueText
                            </th>
                            <th th:if="${column.valueCode==true}" th:text="#{cl.column.valueCode}" th:inline="text">
                                valueCode
                            </th>
                            <th th:if="${column.valueDate==true}" th:text="#{cl.column.valueDate}" th:inline="text">
                                valueDate
                            </th>
                            <th th:if="${column.valueIndicator==true}" th:text="#{cl.column.valueIndicator}"
                                th:inline="text">valueIndicator
                            </th>
                            <th th:if="${column.valueQuantity==true}" th:text="#{cl.column.valueQuantity}"
                                th:inline="text">valueQuantity
                            </th>
                            <th th:if="${column.cpcCode==true}" th:text="#{cl.column.cpcCode}" th:inline="text">
                                cpcCode
                            </th>
                            <th th:if="${column.hsCode==true}" th:text="#{cl.column.hsCode}" th:inline="text">hsCode
                            </th>
                            <th th:if="${column.iso3Code==true}" th:text="#{cl.column.iso3Code}" th:inline="text">
                                iso3Code
                            </th>
                            <th th:if="${column.scientificName==true}" th:text="#{cl.column.scientificName}"
                                th:inline="text">scientificName
                            </th>
                            <th th:if="${column.clAdminLevel1Id==true}" th:text="#{cl.column.clAdminLevel1Id}"
                                th:inline="text">clAdminLevel1Id
                            </th>
                            <th th:if="${column.clAppConstructionLocationType==true}"
                                th:text="#{cl.column.clAppConstructionLocationType}" th:inline="text">
                                clAppConstructionLocationType
                            </th>
                            <th th:if="${column.clCountryId==true}" th:text="#{cl.column.clCountryId}" th:inline="text">
                                clCountryId
                            </th>
                            <th th:if="${column.clEntityTypeId==true}" th:text="#{cl.column.clEntityTypeId}"
                                th:inline="text">clEntityTypeId
                            </th>
                            <th th:if="${column.clFarmTypeId==true}" th:text="#{cl.column.clFarmTypeId}"
                                th:inline="text">clFarmTypeId
                            </th>
                            <th th:if="${column.clLanguageId==true}" th:text="#{cl.column.clLanguageId}"
                                th:inline="text">clLanguageId
                            </th>
                            <th th:if="${column.clProductsTypeId==true}" th:text="#{cl.column.clProductsTypeId}"
                                th:inline="text">clProductsTypeId
                            </th>
                            <th th:if="${column.clQuantityUnitTypeId==true}" th:text="#{cl.column.clQuantityUnitTypeId}"
                                th:inline="text">clQuantityUnitTypeId
                            </th>
                            <th th:if="${column.clRecommandUnitId==true}"
                                th:text="#{cl.column.clRecomandQuantityUnitId}" th:inline="text">clRecommandUnitId
                            </th>
                            <th th:if="${column.clRecomandQuantityUnitId==true}"
                                th:text="#{cl.column.clRecomandQuantityUnitId}" th:inline="text">
                                clRecomandQuantityUnitId
                            </th>
                            <th th:if="${column.clRefRegionId==true}" th:text="#{cl.column.clRefRegionId}"
                                th:inline="text">clRefRegionId
                            </th>
                            <th th:if="${column.clValueQuantityUnitId==true}"
                                th:text="#{cl.column.clValueQuantityUnitId}" th:inline="text">clValueQuantityUnitId
                            </th>
                            <th th:if="${column.clValueMeasureUnitId==true}" th:text="#{cl.column.clValueMeasureUnitId}"
                                th:inline="text">clValueMeasureUnitId
                            </th>
                            <th th:inline="text"></th>

                        </tr>
                        </thead>
                        <tbody>


                        <tr th:each="data : ${datas}">

                            <td th:if="${column.id==true}" th:text="${data.id}">[[${data.id}]]</td>
                            <td th:if="${column.enabled==true}" th:text="${data.enabled}">[[${data.enabled}]]</td>
                            <td th:if="${column.code==true}" th:text="${data.code}">[[${data.code}]]</td>
                            <td th:if="${column.ranking==true}" th:text="${data.ranking}">[[${data.ranking}]]</td>
                            <td th:if="${column.name==true}" th:text="${data.name}">[[${data.name}]]</td>
                            <td th:if="${column.description==true}" th:text="${data.description}">
                                [[${data.description}]]
                            </td>
                            <td th:if="${column.i18nDefault==true}" th:text="${data.i18nDefault}">
                                [[${data.i18nDefault}]]
                            </td>
                            <td th:if="${column.i18nEn==true}" th:text="${data.i18nEn}">[[${data.i18nEn}]]</td>
                            <td th:if="${column.i18nFr==true}" th:text="${data.i18nFr}">[[${data.i18nFr}]]</td>
                            <td th:if="${column.i18nEs==true}" th:text="${data.i18nEs}">[[${data.i18nEs}]]</td>
                            <td th:if="${column.i18nTh==true}" th:text="${data.i18nTh}">[[${data.i18nTh}]]</td>
                            <td th:if="${column.i18nVt==true}" th:text="${data.i18nVt}">[[${data.i18nVt}]]</td>
                            <td th:if="${column.i18nLa==true}" th:text="${data.i18nLa}">[[${data.i18nLa}]]</td>
                            <td th:if="${column.i18nId==true}" th:text="${data.i18nId}">[[${data.i18nId}]]</td>
                            <td th:if="${column.i18nKh==true}" th:text="${data.i18nKh}">[[${data.i18nKh}]]</td>
                            <td th:if="${column.company==true}" th:text="${data.company}">[[${data.company}]]</td>
                            <td th:if="${column.valueMeasure==true}" th:text="${data.valueMeasure}">
                                [[${data.valueMeasure}]]
                            </td>
                            <td th:if="${column.valueText==true}" th:text="${data.valueText}">[[${data.valueText}]]</td>
                            <td th:if="${column.valueCode==true}" th:text="${data.valueCode}">[[${data.valueCode}]]</td>
                            <td th:if="${column.valueDate==true}" th:text="${data.valueDate}">[[${data.valueDate}]]</td>
                            <td th:if="${column.valueIndicator==true}" th:text="${data.valueIndicator}">
                                [[${data.valueIndicator}]]
                            </td>
                            <td th:if="${column.valueQuantity==true}" th:text="${data.valueQuantity}">
                                [[${data.valueQuantity}]]
                            </td>
                            <td th:if="${column.cpcCode==true}" th:text="${data.cpcCode}">[[${data.cpcCode}]]</td>

                            <td th:if="${column.hsCode==true}" th:text="${data.hsCode}">[[${data.hsCode}]]</td>
                            <td th:if="${column.iso3Code==true}" th:text="${data.iso3Code}">[[${data.iso3Code}]]</td>
                            <td th:if="${column.scientificName==true}" th:text="${data.scientificName}">
                                [[${data.scientificName}]]
                            </td>
                            <td th:if="${column.clAdminLevel1Id==true}" th:text="${data.clAdminLevel1Id}">
                                [[${data.clAdminLevel1Id}]]
                            </td>
                            <td th:if="${column.clAppConstructionLocationType==true}"
                                th:text="${data.clAppConstructionLocationType}">
                                [[${data.clAppConstructionLocationType}]]
                            </td>
                            <td th:if="${column.clCountryId==true}" th:text="${data.clCountryId}">
                                [[${data.clCountryId}]]
                            </td>

                            <td th:if="${column.clEntityTypeId==true}" th:text="${data.clEntityTypeId} ?: ''">
                                [[${data.clEntityTypeId}]]
                            </td>
                            <td th:if="${column.clFarmTypeId==true}" th:text="${data.clFarmTypeId} ?: ''">
                                [[${data.clFarmTypeId}]]
                            </td>
                            <td th:if="${column.clLanguageId==true}" th:text="${data.clLanguageId}">
                                [[${data.clLanguageId}]]
                            </td>
                            <td th:if="${column.clProductsTypeId==true}" th:text="${data.clRefProductType}">
                                [[${data.clRefProductType}]]
                            </td>
                            <td th:if="${column.clQuantityUnitTypeId==true}" th:text="${data.clQuantityUnitTypeId}">
                                [[${data.clQuantityUnitTypeId}]]
                            </td>
                            <td th:if="${column.clRecommandUnitId==true}" th:text="${data.clRecommandUnitId}">
                                [[${data.clRecommandUnitId}]]
                            </td>
                            <td th:if="${column.clRecomandQuantityUnitId==true}"
                                th:text="${data.clRecomandQuantityUnitId}">
                                [[${data.clRecomandQuantityUnitId}]]
                            </td>
                            <td th:if="${column.clRefRegionId==true}" th:text="${data.clRefRegionId}">
                                [[${data.clRefRegionId}]]
                            </td>
                            <td th:if="${column.clValueQuantityUnitId==true}" th:text="${data.clValueQuantityUnitId}">
                                [[${data.clValueQuantityUnitId}]]
                            </td>
                            <td th:if="${column.clValueMeasureUnitId==true}" th:text="${data.clValueMeasureUnitId}">
                                [[${data.clValueMeasureUnitId}]]
                            </td>

                            <td th:if="${table != 'cl_ref_languages_countries'}" align="center">
                                <a th:href="@{'/admin/codelists/browser/'+${table}+'/'+${data.id}+'/edit.html'}"
                                   class="btn btn-sm btn-flat btn-primary"><i class="fa fa-edit"></i></a>
                                <form class="form-horizontal"
                                      th:action="@{'/admin/codelists/browser/'+${table}+'/'+${data.id}+'/delete.html'}"
                                      method="post" style="display:inline-block;"
                                      onsubmit="return confirm('Do you want to delete this data?');">
                                    <button type="submit" class="btn btn-sm btn-flat btn-danger"><i
                                            class="fa fa-trash"></i></button>
                                </form>
                            </td>

                            <td th:if="${table == 'cl_ref_languages_countries'}" align="center">
                                <a th:href="@{'/admin/codelists/browser/'+${table}+'/'+${data.clLanguageId}+'/'+${data.clCountryId}+'/edit.html'}"
                                   class="btn btn-sm btn-flat btn-primary"><i class="fa fa-edit"></i></a>
                                <form class="form-horizontal"
                                      th:action="@{'/admin/codelists/browser/'+${table}+'/'+${data.clLanguageId}+'/'+${data.clCountryId}+'/delete.html'}"
                                      method="post" style="display:inline-block;"
                                      onsubmit="return confirm('Do you want to delete this data?');">
                                    <button type="submit" class="btn btn-sm btn-flat btn-danger"><i
                                            class="fa fa-trash"></i></button>
                                </form>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>