<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box" id="pond-box">
				<div class="box-header with-border">
					<h3 class="box-title" th:text="farm.edit_plot_data"></h3>
					<div class="box-tools">
						<a th:href="@{'/plots/browser.html}" class="btn btn-sm btn-flat btn-warning"><i class="fa fa-backward"></i> <span th:text="#{default.back}"></span></a>
					</div>
				</div>
				<form th:action="@{'/plots/'+${plotId}+'/measures/update.html'}" th:object="${measureDto}" id="plotEditorForm" method="post">
					<input type="hidden" id="plotId" th:field="*{plot}" />
					<input type="hidden" id="id" th:field="*{id}" />
					<div class="box-body">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group ">
									<label th:text="|#{default.measure_type}*|">default.measure_type</label>
									<select class="form-control" th:field="*{measureType}" required="required">
										<option value="" th:text="|-- #{default.select_measure_type} --|">-- default.select_measure_type --</option> 
										<option th:each="actType:${allMeasureTypes}" th:value="${actType.id}" th:text="${actType.localisedName}"></option> 
									</select>
								</div>
								<div class="form-group ">
									<label for="measureDate" class="control-label" th:text="|#{default.measure_date}*|">default.measure_date*</label>
									<div class="input-group">
										<input type="text" class="form-control form-plot form-plot-required date datefield" th:field="*{measureDate}"  th:placeholder="#{default.measure_date}" maxlength="10" />
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
								
								<div class="col-md-12 col-sm-2 col-xs-12 no-padding">
			                        <div class="form-group">
			                          <label th:text="|#{default.measure}*|">{{ trans('default.measure') }}*</label>
			                          <div class="row">
			                              <div class="col-xs-6">
			                                <input type="text" class="form-control" th:placeholder="#{default.measure_value}" th:field="*{measure.quantity}" required="required" />
			                              </div>
			                              <div class="col-xs-6">
			                                <select class="form-control" id="inputPondAreaUnit" th:field="*{measure.unit}" required="required">
			                                    <option value="" th:text="|-- #{default.select_unit} --|"></option>
												<option th:each="unit : ${allQuantityUnits}" th:value="${unit.id}" th:text="${unit.localisedName}"></option>
			                                </select>
			                              </div>
			                          </div>
			                        </div>
			                	</div>
								
								<div class="form-group ">
									<label th:text="|#{farm.plot_measure_comment}|"></label>
									<input class="form-control" type="text" th:field="*{comment}"/>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer text-center">
						<small>* <span th:text="#{default.mandatory_field}"></span></small> 
						
						<a th:href="@{'/plots/'+${plotId}+'/activities/browser.html}" class="btn btn-warning"><i class="fa fa-times"></i><span th:text="#{default.cancel}"></span></a>
						<button type="submit" class="btn btn-success">
							<span th:text="#{default.submit}"></span> <i class="fa fa-check"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="page-scripts">
	<script type="text/javascript">
		$(document).ready(function() {
			$('.datefield').datetimepicker({
				format: 'Y-m-d H:i:s'
			});
		});

		function hasEmptyFields(selector) {
			var hasError = false;
			$(selector).each(function(index, element) {
				if ($(element).val() == '') {
					hasError = true;
					$(element).closest('.form-group').addClass('has-error');
				} else
					$(element).closest('.form-group').removeClass('has-error');
			});
			return hasError;
		}
	</script>
</th:block>
</html>