<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

 <div layout:fragment="content">
 
 <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title pull-left" th:text="#{user.list}">user.list</h3>
          <div class="alert-wrapper col-xs-6">
            <div class="alert alert-success alert-dismissible" th:if="${v8p.message != null}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4 class="pull-left"><i class="icon fa fa-check"></i> <span th:text="#{default.success}">default.success</span> &nbsp;&nbsp;</h4> <span th:text="${v8p.message}">{{ Session::get('message') }}</span>
            </div>
          </div>
          <div class="box-tools">
            <a th:href="@{'/users/create.html'}" class="btn btn-sm btn-flat btn-success"><i class="fa fa-plus"></i> <span th:text="#{user.add}">user.add</span></a>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-hover table-striped table-bordered datatable">
            <thead>
            <tr>
              <th th:text="#{user.number}">{{ trans('user.number') }}</th>
              <th th:text="#{user.name}">{{ trans('user.name') }}</th>
              <th th:text="#{defaul.email}">{{ trans('default.email') }}</th>
              <th th:text="#{default.role}">{{ trans('default.role') }}</th>
              <th th:text="#{default.date}">{{ trans('default.date') }}</th>
              <th th:text="#{default.status}">{{ trans('default.status') }}</th>
              <th style="max-width:100px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
              <td th:inline="text">[[${user.id}]]</td>
              <td th:inline="text">[[${user.name}]]</td>
              <td th:inline="text">[[${user.email}]]</td>
              <td th:inline="text">[[${user.role.label}]]</td>
              <td th:inline="text">?</td>
              <td align="center">
                    <i th:if="${user.active}" class="fa fa-check green"></i>
                    <i th:if="${!user.active}" class="fa fa-times red"></i>
              </td>
              <td align="center">
                <a th:href="@{'/user/'+${user.id}+'/edit.html'}" class="btn btn-sm btn-flat btn-primary"><i class="fa fa-edit"></i></a>
                <a th:href="@{'/user/'+${user.id}+'/role.html'}" class="btn btn-sm btn-flat btn-warning"><i class="fa fa-lock"></i></a>
                <form class="form-horizontal" th:action="@{'/user/'+${user.id}+'/delete.html'}" method="post" style="display:inline-block;" onsubmit="return confirm('Do you want to delete this user?');">
               	 	<button type="submit" class="btn btn-sm btn-flat btn-danger"><i class="fa fa-trash"></i></button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
 
 </div>

</html>