<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		 <div class="col-xs-12">
      <div class="box" id="farm-box">
        <div class="box-header with-border">
          <h3 class="box-title" th:text="#{buyer.create}">buyer.create</h3> - <span th:text="${farmName}">farmname</span>
        </div>
        <div class="box-body" style="padding:0;">
          <div class="nav-tabs-custom">
           <ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
				<div class="row">
                    <div class="col-xs-12">
                    	<div class="col-xs-12">
                        	<h4 th:text="#{default.buyer}">default.buyer</h4>
                        </div>
                        
                        <!-- Listing Table -->
                        <div class="col-xs-12">
                            <table class="table table-bordered table-striped table-hover table-farm-staff" style="margin:10px 0;">
                                <tr>
                                    <th th:text="#{default.product_type}">default.product_type</th>
                                    <th th:text="#{default.name}">buyer.name</th>
                                    <th th:text="#{default.city}"></th>
                                    <th width="90"></th>
                                </tr>
                                <tr th:each="buyer:${buyersListing}">
                                    <td th:text="${buyer.productType.localisedName}"></td>
                                    <td th:text="${buyer.buyer.name}"></td>
                                    <td th:text="${buyer.buyer.address.city}">?</td>
                                    <td align="center">
                                        <form th:action="@{'/farm/'+${farmId}+'/delete-buyer-for-producttype.html'}" method="post">
                                        	<input type="hidden" th:value="${buyer.buyer.id}" th:name="buyer" />
                                        	<input type="hidden" th:value="${buyer.productType.id}" th:name="productType" />
                                        	<button type="submit" class="btn btn-xs btn-flat btn-danger" th:title="#{tooltip.delete}">
												<i class="fa fa-trash"></i> 
											</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                    	</div>
                    	
                    	<div class="col-xs-12">
	                        <div class="col-xs-6">
	                            <h4 class="form-buyer-title" th:text="#{buyers.add_buyer}">buyers.add_buyer</h4>
	                            <form th:action="@{'/farm/'+${farmId}+'/buyer-for-producttype.html'}" method="post">
		                            <div class="form-group row">
		                                <label for="inputFarmbuyerProducts" class="col-xs-3 control-label" th:text="|#{default.select_product}*|">default.select_product*</label>
		                                <div class="col-xs-9">
		                                    <select class="form-control form-buyer" id="inputFarmbuyerProducts" th:name="productType" required="required">
		                                        <option value="" th:text="|-- #{default.select_product} --|"> -- default.select_product -- </option>
		                                        <option th:each="product:${allProductTypes}" th:value="${product.id}" th:text="${product.localisedName}"></option>
		                                    </select>
		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <label for="inputFarmSupplier" class="col-xs-3 control-label" th:text="|#{default.name}*|">*</label>
		                                <div class="col-xs-9 no-padding">
		                                    <div class="col-xs-10">
		                                        <select class="form-control form-buyer" id="inputFarmSupplier" th:name="buyer" required="required">
		                                            <option value="" th:text="|-- #{buyer.select} --|">buyer.select</option>
		                                            <option th:each="comp:${allCompanies}" th:value="${comp.id}" th:attr="data-name=${comp.name},data-city=${comp.address.city}" th:text="${comp.name}"></option>
		                                        </select>		
		                                    </div>
		                                    <div class="col-xs-2">
		                                   <!--       <a href="javascript:void(0);" class="btn btn-flat btn-primary" th:title="#{buyer.add}" onclick="openNewSupplier();"><i class="fa fa-plus"></i></a> -->
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <div class="col-xs-9 col-xs-offset-3 text-left" style="margin-top:20px;">
			                                  <button type="submit" class="btn btn-flat btn-primary btn-form-buyer">
												<i class="fa fa-plus"></i> <span th:text="#{buyer.save}">#{buyer.save}</span> 
											</button>
		                                </div>
		                            </div>
	                            </form>
	                        </div>
                    	</div>
                    	
                    </div>
                  </div>
				</div>
			</div>
          </div>
        </div>
      </div>
    </div>

	</div>

</div>


<th:block layout:fragment="page-scripts">
	<script type="text/javascript">
	
		$( document ).ready(function() {
		});
	</script>
</th:block>

</html>