<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		 <div class="col-xs-12">
      <div class="box" id="farm-box">
        <div class="box-header with-border">
          <h3 class="box-title" th:text="#{farm.create}">farm.create</h3>
        </div>
        <form role="form"  th:action="@{'/farm/'+${farmDto.id}+'/update.html'}" th:object="${farmDto}" method="post" class="form-horizontal" enctype="multipart/form-data" onsubmit="return !hasEmptyFields('#farm-box form .form-control[required]');">
        <div class="box-body" style="padding:0;">
          <div class="nav-tabs-custom">
           <ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                        	<h4 th:text="#{farm.profile_info}">farm.profile_info</h4>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group row">
                                <label for="inputFarmName" class="col-xs-3 control-label" th:text="#{default.name}+'*'">default.name*</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="inputFarmName" th:field="*{name}" th:placeholder="#{default.name}" required="required" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmAddr" class="col-xs-3 control-label" th:text="#{default.address}">default.address*</label>
                                <div class="col-xs-9">
                                    <textarea class="form-control" id="inputFarmAddr" th:field="*{address.main}" th:placeholder="#{default.address}" style="height:83px;" required="required" ></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmCity" class="col-xs-3 control-label" th:text="#{default.city}+'*'">default.city*</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="inputFarmCity" th:field="*{address.city}"  th:placeholder="#{default.city}" required="required" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmZip" class="col-xs-3 control-label" th:text="#{default.zip_code}">default.zip_code*</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="inputFarmZip" th:field="*{address.zip}" th:placeholder="#{default.zip_code}" required="required" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmCountry" class="col-xs-3 control-label" th:text="#{default.country}+'*'">default.country*</label>
                                <div class="col-xs-9">
                                    <select class="form-control" id="inputFarmCountry" th:field="*{address.country}"  required="required" onchange="locateAddress();">
                                       	<option value="" th:text="|-- #{default.select_country} --|"> #{default.select_country} </option>
                                        <option th:each="country : ${allCountries}" th:value="${country.id}" th:text="${country.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group row">
                                <label for="inputFarmName" class="col-xs-3 control-label" th:text="#{default.owner}+'*'">default.owner*</label>
                                <div class="col-xs-9 no-padding">
                                    <div class="col-xs-10">
                                        <select class="form-control" id="inputFarmOwner" th:field="*{owner}" required="required" >
                                            <option value="" th:text="|-- #{farm.select_owner} --|">#{farm.select_owner}</option>
                                            <option th:each="ind : ${allIndividuals}" th:value="${ind.id}" th:text="${ind.name+' '+ind.surname}"> </option>
                                        </select>		
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="javascript:void(0);" class="btn btn-flat btn-primary" title="{{ trans('default.add_owner') }}" onclick="openNewStaff();"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmPhone" class="col-xs-3 control-label" th:text="#{default.phone}">default.phone*</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="inputFarmPhone" th:field="*{phoneNumber}" th:placeholder="#{default.phone}" required="required" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmMobile" class="col-xs-3 control-label" th:text="#{default.mobile}">default.mobile</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="inputFarmMobile" th:field="*{mobileNumber}" th:placeholder="#{default.mobile}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmFax" class="col-xs-3 control-label" th:text="#{default.fax}"></label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="inputFarmFax"  th:field="*{faxNumber}" th:placeholder="#{default.fax}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmEmail" class="col-xs-3 control-label" th:text="#{default.email}">default.email</label>
                                <div class="col-xs-9">
                                    <input type="email" class="form-control" id="inputFarmEmail" th:field="*{email}" th:placeholder="#{default.email}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmCoop" class="col-xs-3 control-label" th:text="#{default.cooperative}"></label>
                                <div class="col-xs-9 no-padding">
                                	<div class="col-xs-10">
                                        <select class="form-control" id="inputFarmCoop" th:field="*{cooperative}">
                                            <option th:text="|-- #{default.select_cooperative} --|" value="">  </option>
                                            <option th:each="coop : ${allCooperatives}" th:value="${coop.id}" th:text="${coop.name}"> </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="javascript:void(0);" class="btn btn-flat btn-primary" title="{{ trans('cooperative.add') }}" onclick="openNewCooperative();"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12"><h4 th:text="#{farm.localization}">farm.localization</h4></div>
                        <div class="col-xs-12" style="margin-bottom:10px;">
                        	<div id="map_farm" class="col-xs-12 col-sm-12 col-md-12" style="height:250px;"></div>
                        </div>
                        <div class="col-xs-6">
                        	<div class="form-group row">
                                <label for="lat" class="col-xs-3 control-label" th:text="#{default.latitude}">default.latitude</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="lat" th:field="*{latitude}" th:placeholder="#{default.latitude}" onchange="setCoord();" />
                                </div>
                            </div>
						</div>
                        <div class="col-xs-6">
                            <div class="form-group row">
                                <label for="lng" class="col-xs-3 control-label" th:text="#{default.longitude}">default.longitude</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="lng" th:field="*{longitude}" th:placeholder="#{default.longitude}" onchange="setCoord();" />
                                </div>
                            </div>
                    	</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12"><h4 th:text="#{farm.env_info}">farm.env_info</h4></div>
                        <div class="col-xs-6">
                            <div class="form-group row">
                                <label for="inputFarmArea" class="col-xs-3 control-label" th:text="#{default.area}">default.area</label>
                                <div class="col-xs-9 no-padding">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" id="inputFarmArea" th:field="*{size.quantity}" th:placeholder="#{default.area}" />
                                    </div>
                                    <div class="col-xs-6">
                                        <select class="form-control" th:field="*{size.unit}">
                                            <option value=""> -- <span text="#{default.select_unit}"  th:remove="tag"></span> -- </option>
                                            <option th:each="unit : ${allQuantityUnits}" th:value="${unit.id}" th:text="${unit.name}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group row">
                                <label for="inputFarmMap" class="col-xs-3 control-label" th:text="#{farm.map_drawing}">farm.map_drawing</label>
                                <div class="col-xs-9 no-padding">
                                    <div class="col-xs-6">
                                        <input type="file" class="form-control" th:field="*{aerialView}" th:placeholder="#{farm.map_drawing}" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" />
                                    </div>
                                    <div class="col-xs-6">
                                    	<a th:if="${farmDto.aerialViewUrl !=null}" th:href="@{'/download/'+${farmDto.aerialViewUrl}}" target="_blank">
	                                    	<i class="fa fa-file-image-o"></i> - <i class="fa fa-download"></i>
										</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer text-center">
        	<small>* <span th:text="#{default.mandatory_field}"></span></small>
            <a th:href="@{/farms.html}" class="btn btn-flat btn-warning"><i class="fa fa-times"></i><span th:text="#{default.cancel}">default.cancel</span></a>
            
            <button type="submit" class="btn btn-success">
				<span th:text="#{default.submit}">default.submit</span> <i class="fa fa-check"></i>
			</button>
        </div>
        </form>
      </div>
    </div>

	</div>

</div>


<th:block layout:fragment="page-scripts">
	<script type="text/javascript">
		$( document ).ready(function() {
		});
	</script>
</th:block>

</html>