<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box" id="farm-box">
				<div class="box-header with-border">
					<h3 class="box-title" th:text="#{farm.dashboard}">farm.dashboard</h3> - <span
						th:text="${farmName}">farmname</span>
				</div>

				<div class="box-body" style="padding:0;">
					<div class="nav-tabs-custom">
						<ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_3">

								<div class="col-xs-12">

									<div class="row below_nav_bar">
										<div class="col-md-10 col-sm-8 col-xs-0"/>
										<div class="col-md-2 col-sm-4 col-xs-12">
											<a class="btn btn-primary" th:href="@{${'/farm/'+farmId+'/compliance'}}">Compliance</a>
										</div>
									</div>
									<div class="row">


										<div class="col-sm-3 col-xs-12 border-right" th:if="${v8App.pondProfile}">
											<div class="description-block">
												<h5 class="description-header" th:text="#{farm.area_total}"></h5>
												<span class="description-text" th:text="${dashboard.topKpisMap['totArea'].value}"></span>
											</div>
										</div>

										<div class="col-sm-3 col-xs-12 border-right" th:if="${v8App.pondProfile}">
											<div class="description-block">
												<h5 class="description-header" th:text="#{farm.pond_count}"></h5>
												<span class="description-text" th:text="${dashboard.topKpisMap['nbPonds'].value}"></span>
											</div>
										</div>
										<div class="clearfix visible-sm-block"></div>
										<div class="col-sm-3 col-xs-12 border-right" th:if="${v8App.pondProfile}">
											<div class="description-block">
												<h5 class="description-header" th:text="#{farm.pond_active_count}"></h5>
												<span class="description-text" th:text="${dashboard.topKpisMap['nbActivePonds'].value}"></span>
											</div>
										</div>
										<div class="clearfix visible-sm-block"></div>
										<div class="col-sm-3 col-xs-12 border-right">
											<div class="description-block">
												<h5 class="description-header" th:text="#{farm.staff_count}"></h5>
												<span class="description-text" th:text="${dashboard.topKpisMap['nbEmployees'].value}"></span>
											</div>
										</div>
									</div>

									<div class="box-header">
										<h3 class="box-title" th:text="#{dashboard.pond_title}"></h3>
									</div>
									<div class="box-body">
										<table class="table">
											<thead class="thead-dark">
											<tr>
												<th th:text="#{dashboard.pound.pond_id}"/>
												<th th:text="#{dashboard.pound.area}"/>
												<th th:text="#{dashboard.pound.stocking_date}"/>
												<th th:text="#{dashboard.pound.stocking_quantity}"/>
												<th th:text="#{dashboard.pound.in_production}"/>
												<th th:text="#{dashboard.pound.feed_quantity}"/>
												<th th:text="#{dashboard.pound.mortality_rate}"/>
												<th th:text="#{dashboard.pound.disease}"/>
												<th th:text="#{dashboard.pound.antibiotic_use}"/>
											</tr>
											</thead>
											<tbody>
											<th:block th:each="pond : ${dashboard.getPondSeries()}">
												<tr th:classappend="${pond.getInProduction()} ? bg-success : bg-danger">
													<td th:text="${pond.getPoundId()}"></td>
													<td th:text="${pond.getArea()}"></td>
													<td th:text="${pond.getStockingDate()}"></td>
													<td th:text="${pond.getStockingQuantity()}"></td>
													<td th:if="${pond.getInProduction()}"><span class="fa fa-check" style="color:green"></span>
													</td>
													<td th:if="${not pond.getInProduction()}"><span class="fa fa-close" style="color:red"></span>
													</td>
													<td th:text="${pond.getFeedQuantity()}"></td>
													<td th:text="${pond.getMortalityRate()}"></td>
													<td th:if="${pond.getDisease()}"><span class="fa fa-check" style="color:green"></span></td>
													<td th:if="${not pond.getDisease()}"><span class="fa fa-close" style="color:red"></span></td>
													<td th:if="${pond.getAntibioticsUse()}"><span class="fa fa-check" style="color:green"></span>
													</td>
													<td th:if="${not pond.getAntibioticsUse()}"><span class="fa fa-close"
																																						style="color:red"></span></td>

												</tr>
											</th:block>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="box-header">
									<h3 class="box-title" th:text="#{farm.production}"></h3>
								</div>
								<div class="box-body">
									<div class="col-sm-3">
										<div class="input-group">
											<button type="button" class="btn btn-default pull-right" id="production_datepicker">
                    <span>
                      <i class="fa fa-calendar"></i> Date range picker
                    </span>
												<i class="fa fa-caret-down"></i>
											</button>
										</div>
										<br/>
										<select class="form-control production_select2_multiple" multiple="multiple"
														th:attr="data-placeholder=#{farm.ponds}"></select>
										<br/><br/>
										<button type="button" class="btn btn-block btn-primary" onclick="onProductionSubmitButtonClick()">
											Submit
										</button>
									</div>
									<div class="col-sm-9">
										<div id="production_line_chart" style="width: 100%; height: 500px"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="box-header">
									<h3 class="box-title" th:text="#{farm.water}"></h3>
								</div>
								<div class="box-body">
									<div class="col-sm-3">
										<div class="form-group">
											<div class="input-group">
												<button type="button" class="btn btn-default pull-right" id="water_datepicker">
                    <span>
                      <i class="fa fa-calendar"></i> Date range picker
                    </span>
													<i class="fa fa-caret-down"></i>
												</button>
											</div>
											<br/>
											<select class="form-control water_select2_multiple" multiple="multiple"
															th:attr="data-placeholder=#{farm.ponds}"></select>
											<br/><br/>
											<select class="form-control water_select2" th:attr="data-placeholder=#{farm.water_params}"></select>
											<br/><br/>
											<button type="button" class="btn btn-block btn-primary" onclick="onWaterSubmitButtonClick()">
												Submit
											</button>
										</div>
									</div>
									<div class="col-sm-9">
										<div id="water_line_chart" style="width: 100%; height: 500px"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="page-scripts">
	<script src="http://fairagorav8.pagre-it.com/bower_components/admin-lte/plugins/chartjs/Chart.min.js"></script>

	<script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      var farmId =/*[[${farmId}]]*/;


      $(document).ready(function () {
          // Create chart for production
          initDatePicker('#production_datepicker');
          initSelect2Multiple('.production_select2_multiple', '/farm/'+farmId+'/dashboard/poundslist');

          initDatePicker('#water_datepicker');
          initSelect2Multiple('.water_select2_multiple', '/farm/'+farmId+'/dashboard/poundslist');
          initSelect2Multiple('.water_select2', '/farm/'+farmId+'/dashboard/waterscontrollist');

          var startDateProduction = $('#production_datepicker').data('daterangepicker').startDate.format('YYYY-MM-DD');
          var endDateProduction = $('#production_datepicker').data('daterangepicker').endDate.format('YYYY-MM-DD');
          $.post('/farm/'+farmId+'/dashboard/productions/initialize', {start: startDateProduction, end: endDateProduction}, function (data) {
              $(".result").html(data);
              drawChart('production_line_chart', 'Production', data);
          });
          var startDateWater = $('#water_datepicker').data('daterangepicker').startDate.format('YYYY-MM-DD');
          var endDateWater = $('#water_datepicker').data('daterangepicker').endDate.format('YYYY-MM-DD');
          $.post('/farm/'+farmId+'/dashboard/waters/initialize', {start: startDateWater, end: endDateWater}, function (data) {
              $(".result").html(data);
              drawChart('water_line_chart', 'Water', data);
          });


      });

      function initDatePicker(id) {
          $(id).daterangepicker(
              {
                  ranges: {
                      'Today': [moment(), moment()],
                      'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                      'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                      'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                      'This Month': [moment().startOf('month'), moment().endOf('month')],
                      'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                      'This Year': [moment().startOf('year'), moment().endOf('year')],
                      'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
                  },
                  startDate: moment().startOf('year'),
                  endDate: moment().endOf('year')
              },
              function (start, end) {
                  $(id).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
              }
          );
          $(id).html($(id).data('daterangepicker').startDate.format('MMMM D, YYYY') + ' - ' + $(id).data('daterangepicker').endDate.format('MMMM D, YYYY'))

          // $(id).data('daterangepicker').setStartDate(moment());
          // $(id).data('daterangepicker').setEndDate(moment());
      }

      function initSelect2Multiple(id, urlPath) {
          $(id).select2({
              ajax: {
                  url: urlPath,
                  dataType: 'json'
              }
          });
      }

      function onProductionSubmitButtonClick() {
          var startDate = $('#production_datepicker').data('daterangepicker').startDate.format('YYYY-MM-DD');
          var endDate = $('#production_datepicker').data('daterangepicker').endDate.format('YYYY-MM-DD');
          var selectProductions = $('.production_select2_multiple').val();

          $.post('/farm/'+farmId+'/dashboard/productions', {start: startDate, end: endDate, 'poundIds[]': selectProductions}, function (data) {
              $(".result").html(data);
              drawChart('production_line_chart', 'Production', data);
          });
      }

      function onWaterSubmitButtonClick() {
          var startDate = $('#water_datepicker').data('daterangepicker').startDate.format('YYYY-MM-DD');
          var endDate = $('#water_datepicker').data('daterangepicker').endDate.format('YYYY-MM-DD');
          var selectProductions = $('.water_select2_multiple').val();
          var selectTemp = $('.water_select2').val();

          $.get('/farm/'+farmId+ '/dashboard/waters' , {start: startDate, end: endDate, 'poundIds[]': selectProductions, measureId: selectTemp}, function (data) {
              $(".result").html(data);
              drawChart('water_line_chart', 'Water', data);
          });
      }

      /*]]>*/

      google.charts.load('current', {'packages': ['corechart']});
      google.charts.setOnLoadCallback(function () {
          var data = [['Date', ''], ['', 0]];
          drawChart('production_line_chart', 'Production', data);
          drawChart('water_line_chart', 'Water', data);
      });



      function drawChart(id, title, data) {
          var data = google.visualization.arrayToDataTable(data);

          var options = {
              title: title,
              curveType: 'function',
              interpolateNulls: true,
              legend: {position: 'bottom'}
          };

          var chart = new google.visualization.LineChart(document.getElementById(id));

          chart.draw(data, options);
      }

	</script>
</th:block>

</html>