<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box" id="farm-box">
				<div class="box-header with-border">
					<h3 class="box-title" th:text="#{farm.edit}">farm.edit</h3> - <span th:text="${farmName}">farmname</span>
				</div>
				<form role="form" th:action="@{'/farm/'+${farmId}+'/environmental-update.html'}" th:object="${farmDto}"
							method="post" class="mainForm form-horizontal" enctype="multipart/form-data"
							onsubmit="return !hasEmptyFields('#farm-box form .form-control[required]');">
					<div class="box-body" style="padding:0;">
						<div class="nav-tabs-custom">
							<ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
							<ul th:include="farms/farms-profile-includes :: farms-tabs" class="nav nav-tabs nav-tabs-seconds"></ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab_3">
									<div class="col-xs-12">
										<div class="col-xs-12">
											<h4 th:text="#{farm.property_title}">farm.property_title</h4>
											<div class="form-group row">
												<label for="inputFarmConstructionPermit" class="col-xs-4 control-label"
															 th:text="#{default.construction_permit}"></label>
												<div class="col-xs-8">
													<div id="contructionPermitDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getContructionPermitUrl()}"/>
												</div>
											</div>
											<div class="form-group row">
												<label for="inputFarmLandTitle" class="col-xs-4 control-label" th:text="#{default.land_title}">default.land_title</label>
												<div class="col-xs-8">
													<div id="landTitleDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getLandTitleUrl()}"/>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<h4 th:text="#{farm.siting_hvh}">farm.siting_hvh</h4>

											<div class="form-group row">
												<label for="inputFarmImpactAssesment" class="col-xs-4 control-label"
															 th:text="#{farm.envi_impact_assessment}">farm.envi_impact_assessment</label>
												<div class="col-xs-8">
													<div id="environmentImpactAssessmentDocDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getEnvironmentImpactAssessmentDocUrl()}"/>
												</div>
											</div>

										</div>
										<div class="col-xs-12" th:if="${v8App.pondProfile}">
											<h4 th:text="#{farm.siting_protected_area}">farm.siting_protected_area</h4>
											<div class="form-group row">
												<label class="col-xs-1 control-label"></label>
												<div class="col-xs-11">
													<div class="checkbox">
														<label><input type="checkbox" th:field="*{sittingProtectedArea}"/> <span
																th:text="#{farm.is_it_siting_protected_area}">farm.is_it_siting_protected_area</span></label>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<label for="inputFarmAuthorization" class="col-xs-4 control-label"><span
														th:text="#{farm.authorization_siting_hvh}">farm.authorization_siting_hvh</span></label>
												<div class="col-xs-8">
													<div id="sittingProtectedAreaDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getSittingProtectedAreaUrl()}"/>
												</div>
											</div>
										</div>
										<div class="col-xs-12" th:if="${v8App.pondProfile}">
											<h4 th:text="#{farm.expansion_hvh}">expansion_hvh</h4>
											<div class="form-group row">
												<label class="col-xs-1 control-label"></label>
												<div class="col-xs-11">
													<div class="checkbox">
														<label><input type="checkbox" th:field="*{farmExpension}"/><span
																th:text="#{farm.expansion_since_constr}">farm.expansion_since_constr</span></label>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-xs-1 control-label"></label>
												<div class="col-xs-4">
													<div class="checkbox">
														<label><input type="checkbox" th:field="*{filtrationSystem}"/><span
																th:text="#{farm.presence_of_filtration}">farm.presence_of_filtration</span></label>
													</div>
												</div>
												<div class="col-xs-6">
													<input type="text" class="form-control" id="inputPresenceOfFiltration" th:field="*{filtrationSystemComment}"
																 th:placeholder="#{farm.presence_of_filtration}"/>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-xs-1 control-label"></label>
												<div class="col-xs-4">
													<div class="checkbox">
														<label><input type="checkbox" name="hvh_hasExpansion" value="1"/> <span
																th:text="#{farm.expansion_in_hvh}">farm.expansion_in_hvh</span></label>
													</div>
												</div>
												<div class="col-xs-4">
													<select class="form-control" th:field="*{farmExpensionType}">
														<option value="" th:text="|--- #{farm.expansion_type} ---|"> -- farm.expansion_type --
														</option>
														<option th:each="expType : ${allHighValueExpensionTypes}" th:value="${expType.id}"
																		th:text="${expType.localisedName}"></option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="canalRestorationPlanDz" class="col-xs-4 control-label"
															 th:text="#{farm.canal_restauration_up}">farm.canal_restauration_up</label>
												<div class="col-xs-8">
													<div id="canalRestorationPlanDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getCanalRestorationPlanUrl()}"/>
												</div>
											</div>
											<div class="form-group row">
												<label for="cumulativeImpaceStudyDz" class="col-xs-4 control-label"
															 th:text="#{farm.cummulative_study_up}">farm.cummulative_study_up</label>
												<div class="col-xs-8">
													<div id="cumulativeImpaceStudyDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getCumulativeImpactStudyUrl()}"/>
												</div>
											</div>

											<div class="form-group row">
												<label for="farmWasteOfWaterDz" class="col-xs-4 control-label"><span
														th:text="#{farm.waste_of_water}">farm.waste_of_water</span></label>
												<div class="col-xs-8">
													<div id="farmWasteOfWaterDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getDischargeWasteWaterUrl()}"/>
												</div>
											</div>


											<div class="form-group row">
												<label class="col-xs-1 control-label"></label>
												<div class="col-xs-4">
													<div class="checkbox">
														<label><input type="checkbox" name="estimate_escape" value="1"/> <span
																th:text="#{farm.gps_coordinate}">farm.gps_coordinate</span></label>
													</div>
												</div>
												<div class="col-xs-6">
													<input type="text" class="form-control" id="inputGPSCoordinate" th:field="*{gpsCoordinate}"
																 th:placeholder="#{farm.gps_coordinate}"/>
												</div>
											</div>

										</div>
									</div>

									<div class="col-xs-12" th:if="${v8App.pondProfile}">
										<h4 th:text="#{farm.escape_issue}">farm.escape_issue</h4>

										<div class="form-group row">
											<label for="escapeReportDz" class="col-xs-4 control-label" th:text="#{farm.upload_escape}">farm.upload_escape</label>
											<div class="col-xs-8">
												<div id="escapeReportDz" class="dropzone float-left"
														 th:attr="data-pictures=${farmDto.getEscapeReportUrl()}"/>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-xs-1 control-label"></label>
											<div class="col-xs-4">
												<div class="checkbox">
													<label><input type="checkbox" name="estimate_escape" value="1"/> <span
															th:text="#{farm.estimate_escape}">farm.estimate_escape</span></label>
												</div>
											</div>
											<div class="col-xs-6">
													<input type="text" class="form-control" id="inputNumberOfEscape" th:field="*{numberOfEscape}"
																 th:placeholder="#{farm.estimate_escape}"/>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-xs-1 control-label"></label>
											<div class="col-xs-4">
												<div class="checkbox">
													<label><input type="checkbox" name="hvh_hasExpansion" value="1"/> <span
															th:text="#{farm.expansion_in_hvh}">farm.expansion_in_hvh</span></label>
												</div>
											</div>
											<div class="col-xs-4">
												<select class="form-control" th:field="*{escapePrevention}">
													<option value="none" th:text="#{farm.escape.none}">none</option>
													<option value="nets" th:text="#{farm.escape.nets}">nets</option>
													<option value="fences" th:text="#{farm.escape.fences}">fences</option>
													<option value="simple screen" th:text="#{farm.escape.simple_screen}">simple screen</option>
													<option value="double screen" th:text="#{farm.escape.double_screen}">double screen</option>
													<option value="dry bed filter" th:text="#{farm.escape.dry_bed_filter}">dry bed filter</option>
												</select>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="box-footer text-center">
						<small>* <span th:text="#{default.mandatory_field}"></span></small>
						<a th:href="@{/farms.html}" class="btn btn-flat btn-warning"><i class="fa fa-times"></i><span
								th:text="#{default.cancel}">default.cancel</span></a>

						<button type="submit" class="btn btn-success">
							<span th:text="#{default.submit}">default.submit</span> <i class="fa fa-check"></i>
						</button>
					</div>
				</form>
			</div>
		</div>

	</div>

</div>


<th:block layout:fragment="page-scripts">
	<script type="text/javascript">
      $(document).ready(function () {
      });

      Dropzone.autoDiscover = false;
      $("div#environmentImpactAssessmentDocDz").dropzone(initDropzone("/upload", "/deleteimage", "environment_impact_assessment_doc", $("div#environmentImpactAssessmentDocDz").data('pictures')));
      $("div#contructionPermitDz").dropzone(initDropzone("/upload", "/deleteimage", "contruction_permit", $("div#contructionPermitDz").data('pictures')));
      $("div#landTitleDz").dropzone(initDropzone("/upload", "/deleteimage", "land_title", $("div#landTitleDz").data('pictures')));
      $("div#sittingProtectedAreaDz").dropzone(initDropzone("/upload", "/deleteimage", "setting_protected_area", $("div#sittingProtectedAreaDz").data('pictures')));
      $("div#canalRestorationPlanDz").dropzone(initDropzone("/upload", "/deleteimage", "canal_restoration_plan", $("div#canalRestorationPlanDz").data('pictures')));
      $("div#cumulativeImpaceStudyDz").dropzone(initDropzone("/upload", "/deleteimage", "cumulative_impace_study", $("div#cumulativeImpaceStudyDz").data('pictures')));
      $("div#escapeReportDz").dropzone(initDropzone("/upload", "/deleteimage", "escape_report", $("div#escapeReportDz").data('pictures')));
      $("div#farmWasteOfWaterDz").dropzone(initDropzone("/upload", "/deleteimage", "place_waste_of_water", $("div#farmWasteOfWaterDz").data('pictures')));


	</script>
</th:block>

</html>