<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		 <div class="col-xs-12">
      <div class="box" id="farm-box">
        <div class="box-header with-border">
          <h3 class="box-title" th:text="#{farm.create}">farm.create</h3>
        </div>
        <form role="form"  th:action="@{'/farm/'+${farmId	}+'/environmental-update.html'}" th:object="${farmDto}" method="post" class="form-horizontal" enctype="multipart/form-data" onsubmit="return !hasEmptyFields('#farm-box form .form-control[required]');">
        <div class="box-body" style="padding:0;">
          <div class="nav-tabs-custom">
           <ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_3">
              <div class="col-xs-12">
                        <div class="col-xs-12">
                            <h4 th:text="#{farm.siting_hvh}">farm.siting_hvh</h4>
                            
                            <div class="form-group row">
                                <label for="inputFarmImpactAssesment" class="col-xs-4 control-label" th:text="#{farm.envi_impact_assessment}">farm.envi_impact_assessment</label>
                                <div class="col-xs-5">
                                    <input type="file" class="form-control" id="inputFarmImpactAssesment" th:placeholder="#{farm.upload_study}" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" name="impact_study" />
                                </div>
                                <div class="col-xs-2 bloc-file-uploaded" th:if="${!#strings.isEmpty(farmDto.environmentImpactAssessmentUrl)}">
                                   	<a href="{{ asset($farm_impact_study_url) }}" target="_blank">
                                   		<i class="fa fa-file-image-o"></i> - <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmConstructionPermit" class="col-xs-4 control-label" th:text="#{default.construction_permit}"></label>
                                <div class="col-xs-5">
                                    <input type="file" class="form-control" id="inputFarmConstructionPermit"  th:placeholder="#{farm.upload_permit}" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" name="contruct_permit" />
                                </div>
                                <div class="col-xs-2 bloc-file-uploaded" th:if="${!#strings.isEmpty(farmDto.contructionPermit)}">
                                    <a href="{{ asset($farm_contruct_permit_url) }}" target="_blank">
                                    	<i class="fa fa-file-image-o"></i> - <i class="fa fa-download"></i>
									</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmLandTitle" class="col-xs-4 control-label" th:text="#{default.land_title}">default.land_title</label>
                                <div class="col-xs-5">
                                    <input type="file" class="form-control" id="inputFarmLandTitle" th:placeholder="#{farm.upload_land_title}" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" name="land_title" />
                                </div>
                                <div class="col-xs-2 bloc-file-uploaded" th:if="${!#strings.isEmpty(farmDto.landTitle)}">
                                  	<a href="{{ asset($farm_land_title_url) }}" target="_blank">
	                                 	<i class="fa fa-file-image-o"></i> - <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4 th:text="#{farm.siting_protected_area}">farm.siting_protected_area</h4>
                            <div class="form-group row">
                                <label class="col-xs-1 control-label"></label>
                                <div class="col-xs-11">
                                    <div class="checkbox">
                                        <label><input type="checkbox" th:field="*{sittingProtectedArea}"  /> <span th:text="#{farm.is_it_siting_protected_area}">farm.is_it_siting_protected_area</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmAuthorization" class="col-xs-4 control-label"><span th:text="#{farm.authorization_siting_hvh}">farm.authorization_siting_hvh</span></label>
                                <div class="col-xs-5">
                                    <input type="file" class="form-control" id="inputFarmAuthorization" th:placeholder="#{farm.upload_authorization}" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" name="land_auth" />
                                </div>
                                <div class="col-xs-2 bloc-file-uploaded" th:if="${!#strings.isEmpty(farmDto.sittingProtectedAreaUrl)}">
                                    <a href="{{ asset($farm_land_auth_url) }}" target="_blank">
                                    	<i class="fa fa-file-image-o"></i> - <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4 th:text="#{farm.expansion_hvh}">expansion_hvh</h4>
                            <div class="form-group row">
                                <label class="col-xs-1 control-label"></label>
                                <div class="col-xs-11">
                                    <div class="checkbox">
                                        <label><input type="checkbox" th:field="*{farmExpension}" /><span th:text="#{farm.expansion_since_constr}">farm.expansion_since_constr</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-1 control-label"></label>
                                <div class="col-xs-4">
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="hvh_hasExpansion" value="1" /> <span th:text="#{farm.expansion_in_hvh}">farm.expansion_in_hvh</span></label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" th:field="*{farmExpensionType}">
                                        <option value="" th:text="|--- #{farm.expansion_type} ---|"> -- farm.expansion_type -- </option>
                                        <option th:each="expType : ${allHighValueExpensionTypes}" th:value="${expType.id}" th:text="${expType.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmRestauration" class="col-xs-4 control-label" th:text="#{farm.canal_restauration_up}">farm.canal_restauration_up</label>
                                <div class="col-xs-5">
                                    <input type="file" class="form-control" id="inputFarmRestauration" placeholder="{{ trans('farm.canal_restauration_up') }}" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" name="canal_restore" />
                                </div>
                                <div class="col-xs-2 bloc-file-uploaded">
                                	<?php if(!empty($farm_canal_restore_url)){?>
                                    	<a href="{{ asset($farm_canal_restore_url) }}" target="_blank">
                                    	<i class="fa fa-file-image-o"></i> - <i class="fa fa-download"></i>
                                        </a>
									<?php }?>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmCumulStudy" class="col-xs-4 control-label" th:text="#{farm.cummulative_study_up}">farm.cummulative_study_up</label>
                                <div class="col-xs-5">
                                    <input type="file" class="form-control" id="inputFarmCumulStudy" placeholder="Upload Cumulative study" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" name="cumul_study" />
                                </div>
                                <div class="col-xs-2 bloc-file-uploaded">
                                	<?php if(!empty($farm_cumul_study_url)){?>
                                    	<a href="{{ asset($farm_cumul_study_url) }}" target="_blank">
                                    	<i class="fa fa-file-image-o"></i> - <i class="fa fa-download"></i>
                                        </a>
									<?php }?>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer text-center">
        	<small>* <span th:text="#{default.mandatory_field}"></span></small>
            <a th:href="@{/farms.html}" class="btn btn-flat btn-warning"><i class="fa fa-times"></i><span th:text="#{default.cancel}">default.cancel</span></a>
            
            <button type="submit" class="btn btn-success">
				<span th:text="#{default.submit}">default.submit</span> <i class="fa fa-check"></i>
			</button>
        </div>
        </form>
      </div>
    </div>

	</div>

</div>


<th:block layout:fragment="page-scripts">
	<script type="text/javascript">
		$( document ).ready(function() {
		});
	</script>
</th:block>

</html>