<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box" id="farm-box">
				<div class="box-header with-border">
					<h3 class="box-title" th:text="#{default.facilities}">default.facilities</h3>
				</div>
				<form role="form" th:action="@{'/farm/'+${farmId}+'/facilities.html'}" th:object="${farmDto}"
							method="post"
							class="mainForm form-horizontal" enctype="multipart/form-data"
							onsubmit="return !hasEmptyFields('#farm-box form .form-control[required]');">
					<div class="box-body" style="padding:0;">
						<div class="nav-tabs-custom">
							<ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
							<ul th:include="farms/farms-profile-includes :: farms-tabs"
									class="nav nav-tabs nav-tabs-seconds"></ul>

							<div class="tab-content">
								<div class="tab-pane active" id="tab_3">
									<div class="row">
										<div class="col-xs-4">
											<div class="form-group row col-xs-12">
												<div class="col-xs-12">
													<input type="checkbox" th:field="*{accessToilets}"/> <span
														th:text="|#{facilities.accessToilets}*|"></span>
												</div>
											</div>
										</div>
										<div class="col-xs-8">
											<div class="form-group">
												<div class="list-style-none">
													<div id="toiletsDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getAccessToiletsAttachmentUrl()}"/>
													<div id="toiletsButton" class="col-xs-2 bloc-file-uploaded float-left">
														<a th:if="${!#strings.isEmpty(farmDto.accessToiletsAttachmentUrl)}"
															 th:href="@{'/download/'+${farmDto.accessToiletsAttachmentUrl}}" target="_blank">
															<i class="fa fa-download"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xs-4">
											<div class="form-group row col-xs-12">
												<div class="col-xs-12">
													<input type="checkbox" th:field="*{accessRestRoom}"/> <span
														th:text="|#{facilities.accessRestRoom}*|"></span>
												</div>
											</div>
										</div>
										<div class="col-xs-8">
											<div class="form-group">
												<div class="list-style-none">

													<div id="restRoomDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getAccessRestRoomAttachmentUrl()}"/>
													<div id="restRoomButton" class="col-xs-2 bloc-file-uploaded float-left">
														<a th:if="${!#strings.isEmpty(farmDto.accessRestRoomAttachmentUrl)}"
															 th:href="@{'/download/'+${farmDto.accessRestRoomAttachmentUrl}}" target="_blank">
															<i class="fa fa-download"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-xs-4">
											<div class="form-group row col-xs-12">
												<div class="col-xs-12">
													<input type="checkbox" th:field="*{accessShower}"/> <span
														th:text="|#{facilities.accessShower}*|"></span>
												</div>
											</div>
										</div>
										<div class="col-xs-8">
											<div class="form-group">
												<div class="list-style-none">

													<div id="showerDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getAccessShowerAttachmentUrl()}"/>
													<div id="showerButton" class="col-xs-2 bloc-file-uploaded float-left">
														<a th:if="${!#strings.isEmpty(farmDto.accessShowerAttachmentUrl)}"
															 th:href="@{'/download/'+${farmDto.accessShowerAttachmentUrl}}" target="_blank">
															<i class="fa fa-download"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-xs-4">
											<div class="form-group row col-xs-12">
												<div class="col-xs-12">
													<input type="checkbox" th:field="*{accessToFreeDrinking}"/> <span
														th:text="|#{facilities.accessToFreeDrinking}*|"></span>
												</div>
											</div>
										</div>
										<div class="col-xs-8">
											<div class="form-group">
												<div class="list-style-none">

													<div id="freeDrinkingDz" class="dropzone float-left"
															 th:attr="data-pictures=${farmDto.getAccessToFreeDrinkingAttachmentUrl()}"/>
													<div id="freeDrinkingButton" class="col-xs-2 bloc-file-uploaded float-left">
														<a th:if="${!#strings.isEmpty(farmDto.accessToFreeDrinkingAttachmentUrl)}"
															 th:href="@{'/download/'+${farmDto.accessToFreeDrinkingAttachmentUrl}}" target="_blank">
															<i class="fa fa-download"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-xs-12">
											<div class="form-group row col-xs-12">
												<div class="col-xs-12">
													<input type="checkbox" th:field="*{presenceFirstAidKit}"/> <span
														th:text="|#{facilities.presenceFirstAidKit}*|"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer text-center">
						<small>* <span th:text="#{default.mandatory_field}"></span></small>
						<a th:href="@{/farms.html}" class="btn btn-flat btn-warning"><i class="fa fa-times"></i><span
								th:text="#{default.cancel}">default.cancel</span></a>

						<button type="submit" class="btn btn-success">
							<span th:text="#{default.submit}">default.submit</span> <i class="fa fa-check"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>

<th:block layout:fragment="page-scripts">

	<script th:inline="javascript">

      $(document).ready(function () {
      });

      if (!isImageExisted("http://" + location.host + "/download/" + [[${farmDto.accessToiletsAttachmentUrl}]])) {
          $("div#toiletsButton").css("visibility", "hidden");
      }

      if (!isImageExisted("http://" + location.host + "/download/" + [[${farmDto.accessRestRoomAttachmentUrl}]])) {
          $("div#restRoomButton").css("visibility", "hidden");
      }

      if (!isImageExisted("http://" + location.host + "/download/" + [[${farmDto.accessShowerAttachmentUrl}]])) {
          $("div#restRoomButton").css("visibility", "hidden");
      }

      if (!isImageExisted("http://" + location.host + "/download/" + [[${farmDto.accessToFreeDrinkingAttachmentUrl}]])) {
          $("div#freeDrinkingButton").css("visibility", "hidden");
      }

      Dropzone.autoDiscover = false;

      $("div#toiletsDz").dropzone(initDropzone("/upload", "/deleteimage", "toilets", $("div#toiletsDz").data('pictures')));
      $("div#restRoomDz").dropzone(initDropzone("/upload", "/deleteimage", "restroom", $("div#restRoomDz").data('pictures')));
      $("div#showerDz").dropzone(initDropzone("/upload", "/deleteimage", "shower", $("div#showerDz").data('pictures')));
      $("div#freeDrinkingDz").dropzone(initDropzone("/upload", "/deleteimage", "freedrinking", $("div#freeDrinkingDz").data('pictures')));

      $(document).ready(function () {
      });
      $('select').multipleSelect();

	</script>
</th:block>

</html>