
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
	<ul th:fragment="farms-tabs" class="nav nav-tabs">
		<th:block th:if="${farmId!=null AND farmId&gt;0}">
			<li id="farmtab_profile"><a th:href="@{${'/farm/'+farmId+'/edit.html'}}" th:text="#{farm.profile}">farm.profile</a></li>
			<li id="farmtab_staff-general-info"><a th:href="@{${'/farm/'+farmId+'/staff-general-info.html'}}" th:text="#{farm.staff_general_info}">farm.staff_general_info</a></li>
			<li id="farmtab_staff"><a th:href="@{${'/farm/'+farmId+'/staff.html'}}" th:text="#{farm.contact_staff}">farm.contact_staff</a></li>
			<li id="farmtab_environmental"><a th:href="@{${'/farm/'+farmId+'/environmental.html'}}" th:text="#{farm.env_details}">farm.env_details</a></li>
			<li id="farmtab_suppliers"><a th:href="@{${'/farm/'+farmId+'/suppliers.html'}}" th:text="#{default.suppliers}">default.suppliers</a></li>
			<li id="farmtab_production-profile"><a th:href="@{${'/farm/'+farmId+'/production-profile.html'}}" th:text="#{default.production-profile}">default.ponds</a></li>
			<li id="farmtab_ponds" th:if="${v8App.pondProfile}"><a th:href="@{${'/farm/'+farmId+'/ponds.html'}}" th:text="#{default.ponds}">default.ponds</a></li>
			<li id="farmtab_plots" th:if="${v8App.plotProfile}"><a th:href="@{${'/farm/'+farmId+'/plots.html'}}" th:text="#{default.plots}">default.plots</a></li>
		</th:block>
		<th:block th:if="${farmId==null OR farmId==0}">
			<li class="active"><a data-toggle="tab" th:text="#{farm.profile}">farm.profile</a></li>
			<li class="disabled"><a th:text="#{farm.staff_general_info}">farm.staff_general_info</a></li>
			<li class="disabled"><a th:text="#{farm.contact_staff}">farm.contact_staff</a></li>
			<li class="disabled"><a th:text="#{farm.env_details}">farm.env_details</a></li>
			<li class="disabled"><a th:text="#{default.suppliers}">default.suppliers</a></li>
			<li class="disabled"><a th:text="#{default.production-profile}">default.suppliers</a></li>
			<li class="disabled" th:if="${v8App.pondProfile}"><a th:text="#{default.ponds}">default.ponds</a></li>
			<li class="disabled" th:if="${v8App.plotProfile}"><a th:text="#{default.plots}">default.fields</a></li>
		</th:block>
	</ul>


</body>
</html>