<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box" id="farm-box">
				<div class="box-header with-border">
					<h3 class="box-title" th:text="#{farm.edit}">farm.edit</h3> - <span th:text="${farmName}">farmname</span>
				</div>
				<div class="box-body" style="padding: 0;">
					<div class="nav-tabs-custom">
						<ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
						<ul th:include="farms/farms-production-includes :: farms-tabs" class="nav nav-tabs nav-tabs-seconds"></ul>

						<div class="tab-content">
							<div class="tab-pane active" id="tab_1">
								<div class="row">
									<div class="col-xs-12">
										<div class="col-xs-12">
											<h4 th:text="#{farm.plots}">farm.plots</h4>
										</div>
										<div class="col-xs-12">
											<script type="text/javascript" th:inline="javascript">
                          var plots = [];
                          var totalFarmPlotSize = 0;
											</script>
											<table id="plotList" class="table table-bordered table-striped table-hover table-farm-staff"
														 style="margin: 10px 0;">
												<tr>
													<th></th>
													<th th:text="#{farm.plot_number}">farm.plot_number</th>
													<th th:text="#{default.description}">default.description</th>
													<th th:text="#{default.area}"></th>
													<th th:text="#{default.unit}"></th>
													<th th:text="#{farm.plot_commodities}"></th>
													<th width="120"></th>
												</tr>

												<tr th:each="plot:${plotListing}">
													<td></td>
													<td th:text="${plot.number}"></td>
													<td th:text="${plot.description}"></td>
													<td th:text="${plot.size.quantity}"></td>
													<td th:text="${plot.size.unit.localisedName}"></td>
													<td th:text="${plot.commodities.localisedName}"></td>
													<td align="center">
														<a href="javascript:void(0);" th:attr="data-id=${plot.id}"
															 class="btn btn-xs btn-flat btn-info addActivitiesPlotDataBtn"
															 th:title="#{tooltip.add_plot_activity}"><i class="fa fa-plus"></i></a>&nbsp;
														<a href="javascript:void(0);" th:attr="data-id=${plot.id}"
															 class="btn btn-xs btn-flat btn-info viewActivitiesPlotDataBtn"
															 th:title="#{tooltip.view_plot_activity}"><i class="fa fa-eye"></i></a>&nbsp;
														<a href="javascript:void(0);" th:attr="data-id=${plot.id}"
															 class="btn btn-xs btn-flat btn-primary editPlotBtn" th:title="#{tooltip.edit_plot}"><i
																class="fa fa-edit"></i></a>&nbsp;
														<form th:action="@{'/farm/'+${farmId}+'/plot/delete.html'}" method="post"
																	style="display: inline;">
															<input type="hidden" th:value="${plot.id}" th:name="plotId"/>
															<button type="submit" class="btn btn-xs btn-flat btn-danger"
																			th:title="#{tooltip.delete_plot}">
																<i class="fa fa-trash"></i>
															</button>
														</form>
														<script type="text/javascript" th:inline="javascript">
                                var i = [[${plot.id}]];
                                plots[i] = ([[${plot}]]);
                                totalFarmPlotSize = totalFarmPlotSize + [[${plot.size.quantity}]];
														</script>
													</td>
												</tr>
												<tr class="bg-secondary">
													<th th:text="#{farm.total_pond_area}"></th>
													<th></th>
													<th id="totalFarmPlotSize" class="bg-dark"></th>
													<th th:text="#{farm.area}"></th>
													<th th:text="${farmSize}" class="bg-success">farmSize</th>
													<th width="324"></th>
												</tr>
												<script type="text/javascript" th:inline="javascript">
                            /*<![CDATA[*/
                            var farmSize = [[${farmSize}]];
                            if (totalFarmPlotSize.valueOf() > farmSize.valueOf()) {
                                document.getElementById("totalFarmPlotSize").classList.add('bg-danger');
                                document.getElementById("totalFarmPlotSize").classList.remove('bg-success');
                            } else {
                                document.getElementById("totalFarmPlotSize").classList.remove('bg-danger');
                                document.getElementById("totalFarmPlotSize").classList.add('bg-success');

                            }
                            /*]]>*/
												</script>
											</table>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="col-xs-6">
											<form th:action="@{'/farm/'+${farmId}+'/plot.html'}" th:object="${plotDto}" id="plotEditorForm"
														method="post" onsubmit="return addFarmPlot()">
												<h4 class="form-plot-title" th:text="#{farm.add_plot}"></h4>
												<input type="hidden" id="plotId" th:field="*{id}"/>
												<input type="hidden" id="farm" th:field="*{farm}"/>
												<div class="form-group row">
													<label for="number" class="col-xs-3 control-label" th:text="|#{farm.plot_number}*|">farm.plot_number*</label>
													<div class="col-xs-9">
														<input type="text" class="form-control form-plot form-plot-required" th:field="*{number}"
																	 th:placeholder="#{farm.plot_number}" maxlength="10" required="required"/>
													</div>
												</div>
												<div class="form-group row">
													<label for="inputFarmPlotDesc" class="col-xs-3 control-label"
																 th:text="#{default.description}"></label>
													<div class="col-xs-9">
														<input type="text" class="form-control form-plot" id="inputFarmPlotDesc"
																	 th:placeholder="#{default.description}" th:field="*{description}"/>
													</div>
												</div>
												<div class="form-group row">
													<label for="inputFarmPlotArea" class="col-xs-3 control-label" th:text="|#{default.area}*|">default.area*</label>
													<div class="col-xs-9 no-padding">
														<div class="col-xs-6">
															<input type="text" class="form-control form-plot form-plot-required"
																		 id="inputFarmPlotArea" th:placeholder="#{default.area}"
																		 th:field="*{size.quantity}"
																		 required="required"/>
														</div>
														<div class="col-xs-6">
															<select class="form-control form-plot form-plot-required" id="inputFarmPlotAreaUnit"
																			th:field="*{size.unit}"
																			required="required">
																<option value="" th:text="|-- #{default.select_unit} --|"></option>
																<option th:each="unit : ${allQuantityUnits}" th:value="${unit.id}"
																				th:text="${unit.localisedName}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label for="inputFarmPlotCommodity" class="col-xs-3 control-label"
																 th:text="|#{farm.plot_commodities}*|"></label>
													<div class="col-xs-9">
														<select class="form-control form-plot" id="inputFarmPlotCommodity"
																		th:field="*{commodities}"
																		required="required">
															<option value="" th:text="|-- #{farm.select_plot_commodities} --|">farm.select_plot_type
															</option>
															<option th:each="ptype : ${allCommodities}" th:value="${ptype.id}"
																			th:text="${ptype.localisedName}"></option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label for="irrigated" class="col-xs-3 control-label"
																 th:text="#{farm.plot_irrigated}"></label>
													<div class="col-xs-9">
														<input type="checkbox" id="irrigated" th:field="*{irrigated}"/>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-9 col-xs-offset-3 text-left" style="margin-top: 20px;">
														<button type="submit" class="btn btn-flat btn-primary btn-form-plot"
															 ><i class="fa fa-plus"></i> <span
																th:text="#{farm.add_plot}"></span></button>
														<a href="javascript:void(0);" class="btn btn-flat btn-warning btn-form-plot hide"
															 th:title="#{default.cancel}" onclick="resetForm(5,'plot');"><i class="fa fa-times"></i>
															<span th:text="#{default.cancel}"></span></a>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>


<th:block layout:fragment="page-scripts">
	<script th:inline="javascript">
      /*<![CDATA[*/
      var farmId = [[${farmId}]];



      $(document).ready(function () {

          document.getElementById("inputFarmPlotAreaUnit").value = "29"; // only for Thailand and sugar cane - to be removed when expanding
          document.getElementById("inputFarmPlotCommodity").value = "1"; // only for Thailand and sugar cane - to be removed when expanding

          $(document).on('click', '.editPlotBtn', function () {
              var id = $(this).attr("data-id");
              var p = plots[id];
              if (p != null) {
                  $('#plotId').val(p.id);
                  $('#number').val(p.number);
                  $('#inputFarmPlotIrrigated').val(p.irrigated);
                  $('#inputFarmPlotDesc').val(p.description);
                  if (p.size != null) {
                      $('#inputFarmPlotArea').val(p.size.quantity);
                      $('#inputFarmPlotAreaUnit').val(p.size.unit.id);
                  }
                  $('#inputFarmPlotCommodity').val(p.commodities.id);
                  $('#irrigated').prop('checked', p.irrigated);
              }
          });

          $(document).on('click', '.viewActivitiesPlotDataBtn', function () {
							var id = $(this).attr("data-id");
              document.location = [[@{/farm/
          }]]
              +farmId + [[@{'/plots/'}]] + id + '/activities/browser.html';
          });

          $(document).on('click', '.addActivitiesPlotDataBtn', function () {
							var id = $(this).attr("data-id");
              document.location = [[@{/farm/
          }]]
              +farmId + [[@{'/plots/'}]] + id + '/activities/create.html';
          });

          document.getElementById("totalFarmPlotSize").innerHTML = totalFarmPlotSize;


          $('#plotList').DataTable({
              "responsive": {
                  details: {
                      type: 'column',
                      target: 'tr'
                  }
              },
              "columnDefs": [{
                  className: 'control',
                  orderable: false,
                  targets: 0
              }],
              "language": {
                  "url": langURL
              }
          });

      });

      function addFarmPlot() {
          var tempTotalFarmPlotSize = 0;
          var farmPlotArea = $('#inputFarmPlotArea').val();
          tempTotalFarmPlotSize = Number(farmPlotArea) + totalFarmPlotSize.valueOf();
          if (tempTotalFarmPlotSize.valueOf() > farmSize.valueOf()) {
              if (confirm([[#{farm.msg_sizePond_exceeds_farmSize}]])){
                  return true;
              } else{
                  $('#totalFarmPlotSize').addClass("bg-danger");
                  $('#totalFarmPlotSize').removeClass("bg-success");
                  return false;
              }

          }else{
              return true;
          }
      }

      /*]]>*/
	</script>
</th:block>

</html>