<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box" id="farm-box">
				<div class="box-header with-border">
					<h3 class="box-title" th:text="#{farm.create}">farm.create</h3>
				</div>
				<div class="box-body" style="padding: 0;">
					<div class="nav-tabs-custom">
						<ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1">
								<div class="row">
									<div class="col-xs-12">
										<div class="col-xs-12">
											<h4 th:text="#{farm.plots}">farm.plots</h4>
										</div>
										<div class="col-xs-12">
											<script type="text/javascript" th:inline="javascript">
				                            	var plots = [];    	        	
				                            </script>
											<table class="table table-bordered table-striped table-hover table-farm-staff" style="margin: 10px 0;">
												<tr>
													<th th:text="#{farm.plot_number}">farm.plot_number</th>
													<th th:text="#{default.description}">default.description</th>
													<th th:text="#{default.area}"></th>
													<th th:text="#{default.unit}"></th>
													<th th:text="#{farm.plot_commodities}"></th>
													<th width="120"></th>
												</tr>
												
												<tr th:each="plot:${plotListing}">
													<td th:text="${plot.number}"></td>
													<td th:text="${plot.description}"></td>
													<td th:text="${plot.size.quantity}"></td>
													<td th:text="${plot.size.unit.name}"></td>
													<td th:text="${plot.commodities.name}"></td>
													<td align="center">
														<a href="javascript:void(0);" th:attr="data-id=${plot.id}" class="btn btn-xs btn-flat btn-info addActivitiesPlotDataBtn" th:title="#{tooltip.add_plot_activity}"><i class="fa fa-plus"></i></a> 
														<a href="javascript:void(0);" th:attr="data-id=${plot.id}" class="btn btn-xs btn-flat btn-info viewActivitiesPlotDataBtn" th:title="#{tooltip.view_plot_activity}"><i class="fa fa-eye"></i></a>
														<a href="javascript:void(0);" th:attr="data-id=${plot.id}" class="btn btn-xs btn-flat btn-primary editPlotBtn" th:title="#{tooltip.edit_plot}"><i class="fa fa-edit"></i></a> 
														 <form th:action="@{'/farm/'+${farmId}+'/plot/delete.html'}" method="post" style="display: inline;">
				                                        	<input type="hidden" th:value="${plot.id}" th:name="plotId" />
				                                        	<button type="submit" class="btn btn-xs btn-flat btn-danger" th:title="#{tooltip.delete_plot}">
																<i class="fa fa-trash"></i> 
															</button>
				                                        </form>
				                                        <script type="text/javascript" th:inline="javascript">
				                                        	var i=[[${plot.id}]];
				                                        	plots[i]=([[${plot}]]);
				                                        </script>
													</td>
												</tr>
											</table>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="col-xs-6">
											<form th:action="@{'/farm/'+${farmId}+'/plot.html'}" th:object="${plotDto}" id="plotEditorForm" method="post">
												<h4 class="form-plot-title" th:text="#{farm.add_plot}"></h4>
												<input type="hidden" id="plotId" th:field="*{id}" />
												<input type="hidden" id="farm" th:field="*{farm}" />
												<div class="form-group row">
													<label for="number" class="col-xs-3 control-label" th:text="|#{farm.plot_number}*|">farm.plot_number*</label>
													<div class="col-xs-9">
														<input type="text" class="form-control form-plot form-plot-required" th:field="*{number}" th:placeholder="#{farm.plot_number}" maxlength="10" />
													</div>
												</div>
												<div class="form-group row">
													<label for="inputFarmPlotDesc" class="col-xs-3 control-label" th:text="#{default.description}"></label>
													<div class="col-xs-9">
														<input type="text" class="form-control form-plot" id="inputFarmPlotDesc" th:placeholder="#{default.description}" th:field="*{description}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="inputFarmPlotArea" class="col-xs-3 control-label" th:text="|#{default.area}*|">default.area*</label>
													<div class="col-xs-9 no-padding">
														<div class="col-xs-6">
															<input type="text" class="form-control form-plot form-plot-required" id="inputFarmPlotArea" th:placeholder="#{default.area}" th:field="*{size.quantity}" />
														</div>
														<div class="col-xs-6">
															<select class="form-control form-plot form-plot-required" id="inputFarmPlotAreaUnit" th:field="*{size.unit}">
																<option value="" th:text="|-- #{default.select_unit} --|"></option>
																<option th:each="unit : ${allQuantityUnits}" th:value="${unit.id}" th:text="${unit.localisedName}"></option>
															</select>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label for="inputFarmPlotCommodity" class="col-xs-3 control-label" th:text="#{farm.plot_commodities}"></label>
													<div class="col-xs-9">
														<select class="form-control form-plot" id="inputFarmPlotCommodity" th:field="*{commodities}">
															<option value="" th:text="|-- #{farm.select_plot_commodities} --|">farm.select_plot_type</option>
															<option th:each="ptype : ${allCommodities}" th:value="${ptype.id}" th:text="${ptype.localisedName}"></option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label for="irrigated" class="col-xs-3 control-label" th:text="#{farm.plot_irrigated}"></label>
													<div class="col-xs-9">
														<input type="checkbox" id="irrigated" th:field="*{irrigated}"/>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-9 col-xs-offset-3 text-left" style="margin-top: 20px;">
														<a href="javascript:void(0);" class="btn btn-flat btn-primary btn-form-plot" onclick="addFarmPlot();"><i class="fa fa-plus"></i> <span th:text="#{farm.add_plot}"></span></a>
														<a href="javascript:void(0);" class="btn btn-flat btn-warning btn-form-plot hide" th:title="#{default.cancel}" onclick="resetForm(5,'plot');"><i class="fa fa-times"></i> <span th:text="#{default.cancel}"></span></a>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>


<th:block layout:fragment="page-scripts">
	<script type="text/javascript">
		$(document).ready(function() {
			
			$(".editPlotBtn").click(function(){
				var id = $(this).attr("data-id");
				var p = plots[id];
				if(p!=null){
					$('#plotId').val(p.id);
					$('#number').val(p.number);
					$('#inputFarmPlotIrrigated').val(p.irrigated);
					$('#inputFarmPlotDesc').val(p.description);
					if(p.size!=null){
						$('#inputFarmPlotArea').val(p.size.quantity);
						$('#inputFarmPlotAreaUnit').val(p.size.unit.id);
					}
					$('#inputFarmPlotCommodity').val(p.commodities.id);
					$('#irrigated').prop('checked', p.irrigated);
				}
			});
		
			$('.viewActivitiesPlotDataBtn').click(function(){
				var id = $(this).attr("data-id");
				document.location='/plots/'+id+'/activities/browser.html';
			});
			
			$('.addActivitiesPlotDataBtn').click(function(){
				var id = $(this).attr("data-id");
				document.location='/plots/'+id+'/activities/create.html';
			});	
		
		});
		
		function addFarmPlot(){
			$("#plotEditorForm").submit();
		}
		
	</script>
</th:block>

</html>