<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box" id="farm-box">
        <div class="box-header with-border">
          <h3 class="box-title" th:text="#{default.safety}">default.safety</h3>
          - <span th:text="${farmName}">farmname</span>
        </div>
        <form role="form" th:action="@{'/farm/'+${farmId}+'/safety.html'}" th:object="${farmDto}" method="post"
              class="mainForm form-horizontal" enctype="multipart/form-data"
              onsubmit="return !hasEmptyFields('#farm-box form .form-control[required]');">
          <div class="box-body" style="padding: 0;">
            <div class="nav-tabs-custom">
              <ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
              <ul th:include="farms/farms-profile-includes :: farms-tabs" class="nav nav-tabs nav-tabs-seconds"></ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_3">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group row col-xs-12">
                        <div class="col-xs-12">
                          <input type="checkbox" th:field="*{safeyEquipmentInFarm}"/> <span
                            th:text="|#{staff_security.safeyEquipmentInFarm}|"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group row col-xs-12">
                        <div class="col-xs-12">
                          <input type="checkbox" th:field="*{workerUseEquipmentInFarm}"/> <span
                            th:text="|#{staff_security.workerUseEquipmentInFarm}|"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group row col-xs-12">
                        <div class="col-xs-12">
                          <input type="checkbox" th:field="*{freeSafetyEquipment}"/> <span
                            th:text="|#{staff_security.freeSafetyEquipment}|"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group row col-xs-12">
                        <div class="col-xs-12">
                          <input type="checkbox" th:field="*{preventionAccidentMeasures}"/> <span
                            th:text="|#{staff_security.preventionAccidentMeasures}|"></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row col-xs-12">
                      <label for="numberTrainedStaff" class="col-xs-6 control-label"
                             th:text="|#{staff_security.numberTrainedStaff}|"></label>
                      <div class="col-xs-6">
                        <input type="text" class="form-control" th:field="*{numberTrainedStaff}"></input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer text-center">
            <small>* <span th:text="#{default.mandatory_field}"></span></small>
            <a th:href="@{/farms.html}" class="btn btn-flat btn-warning"><i class="fa fa-times"></i><span
                th:text="#{default.cancel}">default.cancel</span></a>

            <button type="submit" class="btn btn-success">
              <span th:text="#{default.submit}">default.submit</span> <i class="fa fa-check"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>


<th:block layout:fragment="page-scripts">
  <script type="text/javascript">
      $(document).ready(function () {
      });
  </script>
</th:block>

</html>