<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		 <div class="col-xs-12">
      <div class="box" id="farm-box">
        <div class="box-header with-border">
          <h3 class="box-title" th:text="#{farm.create}">farm.create</h3>
        </div>
        <div class="box-body" style="padding:0;">
          <div class="nav-tabs-custom">
           <ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
				<div class="row">
                    <div class="col-xs-12">
                    	<div class="col-xs-12">
                        	<h4 th:text="#{farm.staff}">farm.staff</h4>
                        </div>
                        <div class="col-xs-12">
                        	<script type="text/javascript" th:inline="javascript">
				            	var staffs = [];    	        	
				            </script>
                            <table class="table table-bordered table-striped table-hover table-farm-staff" style="margin:10px 0;">
                                <tr>
                                    <th > <span th:text="#{staff.first_name}"> staff.first_name </span> / <span th:text="#{staff.last_name}"> staff.last_name </span></th>
                                   <!--   <th th:text="#{staff.position}">staff.position</th>-->
                                    <th th:text="#{default.phone}">default.phone</th>
                                    <th width="90"></th>
                                </tr>
                                <tr th:each="staff:${staffListing}" th:id="${'staff-'+staff.entity.id}" data-staff="{{$decla->staff}}">
                                    <td> <span th:text="${staff.entity.name}"> </span> <span th:text="${staff.entity.surname}"> </span></td>
                                     <!-- <td th:text="${staff.position}"></td>-->
                                    <td th:text="${staff.officeMobile}"></td>
                                    <td align="center">
                                        <a th:attr="data-id=${staff.entity.id}" class="btn btn-xs btn-flat btn-primary editStaffBtn" th:title="#{tooltip.edit}"><i class="fa fa-edit"></i></a>
                                        <a th:href="@{'/farm/'+${farmId}+'/entity/'+${staff.entity.id}+'/staff-working-agreements.html'}" class="btn btn-xs btn-flat btn-primary" ><i class="fa fa-paperclip"></i></a>
                                        <form th:action="@{'/farm/'+${farmId}+'/staff/delete.html'}" method="post" style="display: inline;">
                                        	<input type="hidden" th:value="${staff.entity.id}" th:name="entityId" />
                                        	<button type="submit" class="btn btn-xs btn-flat btn-danger" th:title="#{tooltip.delete}">
												<i class="fa fa-trash"></i> 
											</button>
                                        </form>
                                         <script type="text/javascript" th:inline="javascript">
                                        	var i=[[${staff.entity.id}]];
                                        	staffs[i]=([[${staff}]]);
                                        </script>
                                    </td>
                                </tr>
                            </table>
                    	</div>
                    </div>
                    <div class="col-xs-12">
                        <form th:action="@{'/farm/'+${farmId}+'/staff.html'}" th:object="${staffDto}" id="staffEditorForm" method="post" enctype="multipart/form-data">
	                        <div class="col-xs-6">
	                            <h4 class="form-staff-title" th:text="#{farm.staff_information}">farm.staff_information</h4>
	                            <input type="hidden" id="form-staff-id"  />
	                            <div class="form-group row">
	                                <label for="inputFarmStaffName" class="col-xs-3 control-label" th:text="|#{staff.first_name}*|">staff.first_name*</label>
	                                <div class="col-xs-9 no-padding">
	                                    <div class="col-xs-10">
	                                        <select class="form-control form-staff form-staff-required" th:field="*{entity}" id="inputFarmStaffName">
	                                            <option value="" th:text="|-- #{staff.select} --|"></option>
	                                            <option th:each="ind : ${allIndividuals}" th:value="${ind.id}" th:text="${ind.name+' '+ind.surname}"> </option>
	                                        </select>		
	                                    </div>
	                                    <div class="col-xs-2">
	                                        <a href="javascript:void(0);" class="btn btn-flat btn-primary AddNewStaffBtn" title="Add new staff" ><i class="fa fa-plus"></i></a>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="form-group row">
	                                <label for="inputFarmStaffPos" class="col-xs-3 control-label" th:text="|#{staff.position}*|">staff.position*</label>
	                                <div class="col-xs-9">
	                                    <select class="form-control form-staff form-staff-required" th:field="*{position}" id="staff_position">
	                                 	   <option value="" th:text="|-- #{staff.select_position} --|"></option>
	                                       <option th:each="pos : ${allPositions}" th:value="${pos.id}" th:text="${pos.localisedName}"> </option>
	                                    </select>
	                                </div>
	                            </div>
	                            <div class="form-group row">
	                                <label for="inputFarmStaffPos" class="col-xs-3 control-label" th:text="|#{staff.language}*|">staff.language*</label>
	                                <div class="col-xs-9">
	                                    <select class="form-control form-staff form-staff-required" th:field="*{language}" id="staff_language">
	                                 	   <option value="" th:text="|-- #{staff.select_language} --|"></option>
	                                       <option th:each="pos : ${allLanguages}" th:value="${pos.id}" th:text="${pos.localisedName}"> </option>
	                                    </select>
	                                </div>
	                            </div>
	                            <!-- <div class="form-group row">-->
	                             <!--   <label for="inputFarmStaffPos" class="col-xs-3 control-label" th:text="|#{staff.legal_status}*|"></label>-->
	                             <!--   <div class="col-xs-9">-->
	                              <!--      <select class="form-control form-staff form-staff-required" th:field="*{legalStatus}" id="staff_legalStatus">-->
	                              <!--   	   <option value="" th:text="|- #{staff.select_legalstatus} -|"></option>-->
	                              <!--         <option th:each="pos : ${allLegalStatuses}" th:value="${pos.id}" th:text="${pos.localisedName}"> </option>-->
	                              <!--      </select>-->
	                              <!--  </div>-->
	                            <!--</div>-->
	                            <div class="form-group row">
	                                <label class="col-xs-1 control-label"></label>
	                                <div class="col-xs-11">
	                                    <div class="checkbox">
	                                        <label><input type="checkbox" class="form-staff" th:field="*{fromLocalComunity}" id="staff_from_local" th:text="#{staff.local_community}"/></label>
	                                    </div>
	                                </div>
	                            </div>
	                            <!--  <div class="form-group row">
	                                <label class="col-xs-1 control-label"></label>
	                                <div class="col-xs-11">
	                                    <div class="checkbox">
	                                        <label><input type="checkbox" class="form-staff" th:field="*{companyFocalPoint}" id="staff_focal_point" th:text="#{staff.company_focal_point}"/></label>
	                                    </div>
	                                </div>
	                            </div>-->
	                           <div class="form-group row">
	                           	<label class="col-xs-1 control-label"></label>
	                           		<div class="col-xs-11">
	                           			<div class="checkbox">
	                           			<label><input type="checkbox" class="form-staff" th:field="*{noEmployedAnymore}" id="staff_no_employed_anymore" th:text="#{staff.no_employed_anymore}"/></label>
	                           			</div>
	                           		</div> 
	                           </div> 
	                           <div class="form-group row">
	                                <div class="col-xs-12 text-right" style="margin-top:40px;">
	                                    <a href="javascript:void(0);" class="btn btn-flat btn-primary btn-form-staff" id="saveStaffbtn"><i class="fa fa-plus"></i> <span th:text="#{staff.add}">staff.add</span></a>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-xs-6">
	                           <h4 th:text="#{staff.employment_info}">staff.employment_info</h4>
	                           <div class="form-group row">
	                                <label for="inputFarmStaffPhone" class="col-xs-3 control-label" th:text="#{default.phone}">default.phone</label>
	                                <div class="col-xs-9">
	                                    <input type="text" class="form-control form-staff" th:field="*{officePhoneNumber}" id="staff_phone" th:placeholder="#{default.phone}" />
	                                </div>
	                            </div>
	                            <div class="form-group row">
	                                <label for="inputFarmStaffMobile" class="col-xs-3 control-label" th:text="|#{default.mobile}*|">default.mobile</label>
	                                <div class="col-xs-9">
	                                    <input type="text" class="form-control form-staff form-staff-required" th:field="*{officeMobile}" id="staff_mobile" th:placeholder="#{default.mobile}" />
	                                </div>
	                            </div>
	                            <div class="form-group row">
	                                <label for="inputFarmStaffEmail" class="col-xs-3 control-label" th:text="#{default.email}">default.email</label>
	                                <div class="col-xs-9">
	                                    <input type="email" class="form-control form-staff" th:field="*{officeEmail}" id="staff_email" th:placeholder="#{default.email}" />
	                                </div>
	                            </div>
	                            <div class="form-group row">
	                               <label for="workingPermit" class="col-xs-4 control-label" th:text="#{staff.foreign_permit}">farm.envi_impact_assessment</label>
	                               <div class="col-xs-5">
	                                   <input type="file" class="form-control" th:field="*{workingPermit}" th:placeholder="#{farm.upload_study}" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" />
	                               </div>
	                               <div class="col-xs-2 bloc-file-uploaded" >
	                                  	<a th:if="${!#strings.isEmpty(staffDto.workingPermitUrl)}" th:href="@{'/downloard/'+${staffDto.workingPermitUrl}}" target="_blank">
	                                  		<i class="fa fa-download"></i>
	                                   </a>
	                               </div>
	                           </div>
	                           <div class="form-group row">
		                          <h4 th:text="#{staff.worker_agreements}">staff.worker_agreements</h4>
	                               <label  th:text="#{staff-working-agreement.message}">staff-working-agreement.message</label> <button class="btn btn-xs btn-flat btn-primary" disabled="disabled"><i class="fa fa-paperclip"></i></button>                        
	                            </div>
	                        </div>
                    	</form>
                    </div>
                </div>
				</div>
			</div>
          </div>
        </div>
      </div>
    </div>

	</div>

</div>


<th:block layout:fragment="page-scripts">
	<script type="text/javascript">
	
	$(document).ready(function() {
	
		
		
		$('.AddNewStaffBtn').click(function(){
			
			document.location='individual-editor.html';
		});
		
		
		
		$(".editStaffBtn").click(function(){
			var id = $(this).attr("data-id");
			var p = staffs[id];
			if(p!=null){
				$('#staff_phone').val(p.officePhoneNumber);
				$('#staff_email').val(p.officeEmail);
				$('#staff_mobile').val(p.officeMobile);
				$('#inputFarmStaffName').val(p.entity.id);
				if(p.position!=null)
					$('#staff_position').val(p.position.id);
				if(p.language!=null)
					$('#staff_language').val(p.language.id);
				if(p.legalStatus!=null)
					$('#staff_legalStatus').val(p.legalStatus.id);
				$('#staff_from_local').attr('checked',p.fromLocalComunity);
				$('#staff_focal_point').attr('checked',p.companyFocalPoint);
				$('#staff_no_employed_anymore').attr('checked',p.noEmployedAnymore);
			}
		});
		
		$(".editWorkingAgreements").click(function(){
			var entityId = $(this).attr("data-entityid");
			var farmId = $(this).attr("data-farmid");
		});
		
		$("#saveStaffbtn").click(function(){
			$("#staffEditorForm").submit();
		});
		
	});
	
	 
	</script>
</th:block>

</html>