<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		 <div class="col-xs-12">
      <div class="box" id="farm-box">
        <div class="box-header with-border">
          <h3 class="box-title" th:text="#{farm.create}">farm.create</h3>
        </div>
        <div class="box-body" style="padding:0;">
          <div class="nav-tabs-custom">
           <ul th:include="farms/farms-includes :: farms-tabs" class="nav nav-tabs"></ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
				<div class="row">
                    <div class="col-xs-12">
                    	<div class="col-xs-12">
                        	<h4 th:text="#{farm.staff}">farm.staff</h4>
                        </div>
                        <div class="col-xs-12">
                            <table class="table table-bordered table-striped table-hover table-farm-staff" style="margin:10px 0;">
                                <tr>
                                    <th th:text="#{staff.first_name}">staff.first_name</th>
                                    <th th:text="#{staff.last_name}">staff.last_name</th>
                                    <th th:text="#{default.position}"></th>
                                    <th width="90"></th>
                                </tr>
                                <tr th:each="staff:${staffListing}" th:id="${'staff-'+staff.entity.id}" data-staff="{{$decla->staff}}">
                                    <td th:text="${staff.entity.name}"></td>
                                    <td th:text="${staff.entity.surname}"></td>
                                    <td th:text="${staff.position}">?</td>
                                    <td align="center">
                                        <a href="javascript:void(0);" onclick="editFarmStaff({{$decla->ID}});" class="btn btn-xs btn-flat btn-primary"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0);" onclick="deleteFarmStaff({{$decla->ID}});" class="btn btn-xs btn-flat btn-danger"><i class="fa fa-remove"></i></a>
                                    </td>
                                </tr>
                            </table>
                    	</div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <h4 class="form-staff-title" th:text="#{farm.staff_information}">farm.staff_information</h4>
                            <input type="hidden" id="form-staff-id" value="0" />
                            <div class="form-group row">
                                <label for="inputFarmStaffName" class="col-xs-3 control-label" th:tabindex="|#{staff.first_name}*|">staff.first_name*</label>
                                <div class="col-xs-9 no-padding">
                                    <div class="col-xs-10">
                                        <select class="form-control form-staff form-staff-required" name="staff_entity" id="inputFarmStaffName">
                                            <option value="|-- #{#{staff.select}} --|"> #{staff.select} </option>
                                            <option th:each="ind : ${allIndividuals}" th:value="${ind.id}" th:text="${ind.name+' '+ind.surname}"> </option>
                                        </select>		
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="javascript:void(0);" class="btn btn-flat btn-primary" title="Add new staff" onclick="openNewIndividual('staff');"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmStaffPos" class="col-xs-3 control-label" th:text="|#{staff.position}*|">staff.position*</label>
                                <div class="col-xs-9">
                                    <select class="form-control form-staff form-staff-required" name="staff_position">
                                 	   <option value=""> -- <span th:text="#{staff.select_position}" th:remove="tag"/> -- </option>
                                       <option th:each="pos : ${allPositions}" th:value="${pos.id}" th:text="${pos.name}"> </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmStaffDep" class="col-xs-3 control-label" th:text="#{default.department}">default.department</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control form-staff" name="staff_department" th:placeholder="#{default.department}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmStaffPhone" class="col-xs-3 control-label" th:text="#{default.phone}">default.phone</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control form-staff" name="staff_phone" th:placeholder="#{default.phone}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmStaffMobile" class="col-xs-3 control-label" th:text="|#{default.mobile}*|">default.mobile</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control form-staff form-staff-required" name="staff_mobile" th:placeholder="#{default.mobile}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmStaffEmail" class="col-xs-3 control-label" th:text="#{default.email}">default.email</label>
                                <div class="col-xs-9">
                                    <input type="email" class="form-control form-staff" name="staff_email" th:placeholder="#{default.email}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-12 text-right" style="margin-top:40px;">
                                	<a href="javascript:void(0);" class="btn btn-flat btn-warning btn-form-staff hide" title="Cancel" onclick="resetForm(2,'staff');"><i class="fa fa-times"></i> <span th:text="#{default.cancel}">default.cancel</span></a>
                                    <a href="javascript:void(0);" class="btn btn-flat btn-primary btn-form-staff" title="Save this staff" onclick="addFarmStaff();"><i class="fa fa-plus"></i> <span th:text="#{staff.add}">staff.add</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <h4 th:text="#{staff.employment_info}">staff.employment_info</h4>
                            <div class="form-group row">
                                <label class="col-xs-1 control-label"></label>
                                <div class="col-xs-11">
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="form-staff" name="staff_from_local" value="1" th:text="#{staff.local_community}"/>staff.local_community</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-1 control-label"></label>
                                <div class="col-xs-8">
                                    <div class="checkbox">
                                        <label th:text="#{staff.foreign_permit}">staff.foreign_permit <input type="file" class="form-control form-staff" name="staff_work_permit" placeholder="{{ trans('staff.work_permit') }}" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" /></label>
                                    </div>
                                </div>
                                <div class="col-xs-3 bloc-file-uploaded" id="bloc-staff-wpermit-img" style="display:none;">
                                    <a href="#" target="_blank">
                                    <br/><i class="fa fa-file-image-o"></i> - <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </div>
                            <h4 th:text="#{staff.employment_agreement}">staff.employment_agreement</h4>
                            <div class="form-group row">
                                <label class="col-xs-1 control-label"></label>
                                <div class="col-xs-11">
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="form-staff" name="staff_contract_oral" value="1" /> <span th:text="#{staff.oral_agreement}"></span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmStaffRem" class="col-xs-5 control-label" th:text="#{staff.contract_remuneration}">staff.contract_remuneration</label>
                                <div class="col-xs-5">
                                    <input type="text" class="form-control form-staff" name="staff_remuneration" th:placeholder="#{staff.contract_remuneration}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmStaffRemFreq" class="col-xs-5 control-label" th:text="#{staff.remuneration_frequency}">staff.remuneration_frequency</label>
                                <div class="col-xs-5">
                                    <select class="form-control form-staff" name="staff_frequency">
                                        <option value="monthly" th:text="#{default.monthly}">default.monthly </option>
                                        <option value="weekly" th:text="#{default.weekly}"> default.weekly </option>
                                        <option value="daily" th:text="#{default.daily}"> default.daily </option>
                                        <option value="share" th:text="#{default.share_purcent}">default.purcent </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-1 control-label"></label>
                                <div class="col-xs-11">
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="form-staff" name="staff_contract_paper" value="1"  /><span th:text="#{staff.written_agreement}">staff.written_agreement </span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFarmStaffContract" class="col-xs-4 control-label" th:text="#{staff.contract_copy}">staff.contract_copy</label>
                                <div class="col-xs-5">
                                    <input type="file" class="form-control form-staff" name="staff_contract_paper_url" th:placeholder="#{staff.contract_copy}" accept=".xlsx, .xls, .doc, .docx, .pdf, image/*" />
                                </div>
                                <div class="col-xs-3 bloc-file-uploaded" id="bloc-staff-contract-img" style="display:none;">
                                    <a href="#" target="_blank">
                                    <i class="fa fa-file-image-o"></i> - <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
			</div>
          </div>
        </div>
      </div>
    </div>

	</div>

</div>


<th:block layout:fragment="page-scripts">
	<script type="text/javascript">
	
	 
	
		$( document ).ready(function() {
		});
	</script>
</th:block>

</html>