<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<object th:include="inc/includes :: head" th:remove="tag"></object>
<title th:text="|${v8App.appName} ${'|'} #{page.home.title}|"></title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<header class="main-header" th:include="inc/includes :: main-header"></header>
<aside class="main-sidebar" th:include="inc/includes :: main-sidebar"></aside>

 <div class="content-wrapper">
    <section class="content-header">
      <h1 >
        <span th:text="#{${v8p.title}}"></span>
        <small th:text="#{${v8p.description}}">{{ $page_description or null }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{'/home.html}"><i class="fa fa-dashboard"></i> <span th:text="#{default.home}">default.home</span></a></li>
        @yield('breadcrumb')
      </ol>
    </section>
    <section class="content">
        @yield('content')
    </section>
  </div>
</div>
<th:block th:include="inc/includes :: footer-scripts" th:remove="tag"></th:block>

</body>
</html>