<!DOCTYPE html>
<html layout:decorator="inc/main-layout" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box" id="pond-box">
				<div class="box-header with-border">
					<h3 class="box-title" th:text="#{farm.pond_activity_add}"></h3> - <span th:text="${farmName}">farmname</span>
					<div class="box-tools">
						<a th:href="@{'/farm/'+${farmId}+'/ponds.html'}" class="btn btn-sm btn-flat btn-warning"><i
								class="fa fa-backward"></i> <span th:text="#{default.back}"></span></a>
					</div>
				</div>
				<form class="mainForm" th:action="@{'/farm/'+${farmId}+'/pond/'+${pondId}+'/activities/update.html'}"
							th:object="${activityDto}" id="pondEditorForm" method="post">
					<input type="hidden" id="pondId" th:field="*{pond}"/>
					<input type="hidden" id="activityId" th:field="*{id}"/>
					<div class="box-body">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group ">
									<label th:text="|#{farm.pond_activity_type}|">default.farm*</label>
									<select class="form-control" th:field="*{activityType}" required="required"
													onchange="activityTypeChanged()">
										<option value="" th:text="|-- #{farm.pond_activity_select_type} --|">-- default.select_farm --
										</option>
										<option th:each="actType:${allPondActivityTypes}" th:value="${actType.id}"
														th:text="${actType.localisedName}"></option>
									</select>
								</div>
								<div id="form-starttime" class="input-append date">
									<label for="number" class="control-label"
												 th:text="|#{farm.pond_activity_start}*|">farm.pond_number*</label>
									<input id="datetime-starttime" type="text" class="form-control form-pond form-pond-required datefield"
												 th:field="*{activityStartDate}" th:placeholder="#{farm.pond_activity_start}" maxlength="10"
												 required="required"/>
								</div>
								<div id="form-endtime" class="input-append date">
									<label for="number" class="control-label"
												 th:text="|#{farm.pond_activity_end}*|">farm.pond_number*</label>
									<input id="datetime-endtime" type="text" class="form-control form-pond form-pond-required datefield"
												 th:field="*{activityEndDate}" th:placeholder="#{farm.pond_activity_end}" maxlength="10"
												 required="required"/>
								</div>
								<div class="form-group" id="actiProductGroup">
									<label th:text="|#{farm.pond_activity_product}|"></label>
									<select id="selectProductGroup" class="form-control" th:field="*{product}"
													onchange="productChanged()">
										<option value="" th:text="|-- #{farm.pond_activity_select_product} --|">-- default.select_product
											--
										</option>
										<option th:each="actType:${allProducts}" th:value="${actType.id}"
														th:text="${actType.localisedName}"></option>
									</select>
								</div>
								<div class="form-group">
									<label th:text="|#{farm.pond_activity_measure}|"></label>
									<input type="text" class="form-control form-pond form-pond-required" th:field="*{measure.quantity}"/>
									<select id="selectMeasureUnit" class="form-control" th:field="*{measure.unit}">
										<option value="" th:text="|-- #{default.select_unit} --|"></option>
										<option th:each="unit : ${allQuantityUnits}" th:value="${unit.id}"
														th:text="${unit.localisedName}"></option>
									</select>
								</div>
								<div class="form-group " id="feedLotNumber">
									<label for="number" class="control-label" th:text="|#{farm.pond_activity_feed_lot_number}|">farm.pond_activity_feed_lot_number</label>
									<input type="text" class="form-control form-pond " th:field="*{feedLotNumber}"
												 th:placeholder="#{farm.pond_activity_feed_lot_number}" maxlength="20"/>
								</div>

								<div class="form-group" id="selectSpecie">
									<label th:text="|#{farm.pond_activity_species}|"></label>
									<select class="form-control" th:field="*{species}">
										<option value="" th:text="|-- #{default.species} --|"></option>
										<option th:each="unit : ${allSpecies}" th:value="${unit.id}"
														th:text="${unit.localisedName}"></option>
									</select>
								</div>

								<div class="form-group ">
									<label th:text="|#{farm.pond_activity_comment}|"></label>
									<input class="form-control" type="text" th:field="*{comment}"/>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer text-center">
						<small>* <span th:text="#{default.mandatory_field}"></span></small>

						<a th:href="@{'/farm/'+${farmId}+'/ponds.html'}" class="btn btn-warning"><i class="fa fa-times"></i><span
								th:text="#{default.cancel}"></span></a>
						<button type="submit" class="btn btn-success">
							<span th:text="#{default.submit}"></span> <i class="fa fa-check"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="page-scripts">
	<script th:inline="javascript">
      /*<![CDATA[*/

      var farmId =/*[[${farmId}]]*/;
      var pondId =/*[[${pondId}]]*/;


      $(document).ready(function () {
          $('#datetime-starttime').datetimepicker({
              onChangeDateTime: function (e) {
                  $('#datetime-endtime').val($('#datetime-starttime').val())
              },
              format: 'Y-m-d h:i:s',
              closeOnDateSelect: true

          });

          $('#datetime-endtime').datetimepicker({
              format: 'Y-m-d h:i:s',
              closeOnDateSelect: true

          });
      });

      var noProduct = [2, 6, 7, 8, 10];


      function activityTypeChanged() {

          $('#actiProductGroup').show();
          $('#feedLotNumber').hide();
          $('#selectSpecie').hide();

          var actVal = $("#activityType").val();
          if (actVal != null) {
              actVal = parseInt(actVal);
              if ($.inArray(actVal, noProduct) >= 0) {
                  $('#actiProductGroup').hide();
              } else if (actVal == 1) {
                  $('#selectSpecie').show();
              } else if (actVal == 3) {
                  $('#feedLotNumber').show();
              }
          }

          $.get('/farm/' + farmId + '/pond/' + pondId + '/products', {
              activityId: actVal
          }, function (datas) {
              var pond_activity_select_product = /*[[#{farm.pond_activity_select_product}]]*/ 'Select Product';
              $("#selectMeasureUnit").val("").change();
              $('#selectProductGroup')
                  .find('option')
                  .remove()
                  .end()
                  .append('<option value="">-- ' + pond_activity_select_product + ' --</option>')
                  .val('');


              $.each(datas, function (index, value) {
                  $('#selectProductGroup').append($('<option>', {
                      value: value.id,
                      text: value.name
                  }));
              });
          });
      }

      function productChanged() {
          var productId = $("#selectProductGroup").val();

          $.get('/farm/' + farmId + '/pond/' + pondId + '/products/' + productId + '/unit', function (data) {
              $("#selectMeasureUnit").val(data).change();
          }).fail(function () {
              $("#selectMeasureUnit").val("").change();
          });
      }

      function hasEmptyFields(selector) {
          var hasError = false;
          $(selector).each(function (index, element) {
              if ($(element).val() == '') {
                  hasError = true;
                  $(element).closest('.form-group').addClass('has-error');
              } else
                  $(element).closest('.form-group').removeClass('has-error');
          });
          return hasError;
      }

      /*]]>*/
	</script>
</th:block>
</html>